In [1]:
import pandas as pd
from pandas import to_datetime
import numpy as np

In [3]:
1 = pd.read_csv("June_20-citibike-tripdata.csv")
df1.head()df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1062,2020-06-01 00:00:03.3720,2020-06-01 00:17:46.2080,3419,Douglass St & 4 Ave,40.679279,-73.981540,3419,Douglass St & 4 Ave,40.679279,-73.981540,39852,Customer,1997,2
1,3810,2020-06-01 00:00:03.5530,2020-06-01 01:03:33.9360,366,Clinton Ave & Myrtle Ave,40.693261,-73.968896,336,Sullivan St & Washington Sq,40.730477,-73.999061,37558,Subscriber,1969,0
2,1017,2020-06-01 00:00:09.6140,2020-06-01 00:17:06.8330,389,Broadway & Berry St,40.710446,-73.965251,3562,Classon Ave & St Marks Ave,40.676520,-73.959608,37512,Customer,1988,2
3,226,2020-06-01 00:00:12.1780,2020-06-01 00:03:58.8640,3255,8 Ave & W 31 St,40.750585,-73.994685,505,6 Ave & W 33 St,40.749013,-73.988484,39674,Customer,1969,0
4,1437,2020-06-01 00:00:21.2550,2020-06-01 00:24:18.9650,367,E 53 St & Lexington Ave,40.758281,-73.970694,497,E 17 St & Broadway,40.737050,-73.990093,21093,Customer,1997,2

In [4]:
df1.count()

tripduration               1882273
starttime                  1882273
stoptime                   1882273
start station id           1882273
start station name         1882273
start station latitude     1882273
start station longitude    1882273
end station id             1882273
end station name           1882273
end station latitude       1882273
end station longitude      1882273
bikeid                     1882273
usertype                   1882273
birth year                 1882273
gender                     1882273
dtype: int64

In [5]:
df1.dropna(how='any', inplace=True)
df1.count()

tripduration               1882273
starttime                  1882273
stoptime                   1882273
start station id           1882273
start station name         1882273
start station latitude     1882273
start station longitude    1882273
end station id             1882273
end station name           1882273
end station latitude       1882273
end station longitude      1882273
bikeid                     1882273
usertype                   1882273
birth year                 1882273
gender                     1882273
dtype: int64

In [6]:
df1[pd.isnull(df1).any(axis=1)]

Empty DataFrame
Columns: [tripduration, starttime, stoptime, start station id, start station name, start station latitude, start station longitude, end station id, end station name, end station latitude, end station longitude, bikeid, usertype, birth year, gender]
Index: []

In [7]:
df1.dropna()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1062,2020-06-01 00:00:03.3720,2020-06-01 00:17:46.2080,3419,Douglass St & 4 Ave,40.679279,-73.981540,3419,Douglass St & 4 Ave,40.679279,-73.981540,39852,Customer,1997,2
1,3810,2020-06-01 00:00:03.5530,2020-06-01 01:03:33.9360,366,Clinton Ave & Myrtle Ave,40.693261,-73.968896,336,Sullivan St & Washington Sq,40.730477,-73.999061,37558,Subscriber,1969,0
2,1017,2020-06-01 00:00:09.6140,2020-06-01 00:17:06.8330,389,Broadway & Berry St,40.710446,-73.965251,3562,Classon Ave & St Marks Ave,40.676520,-73.959608,37512,Customer,1988,2
3,226,2020-06-01 00:00:12.1780,2020-06-01 00:03:58.8640,3255,8 Ave & W 31 St,40.750585,-73.994685,505,6 Ave & W 33 St,40.749013,-73.988484,39674,Customer,1969,0
4,1437,2020-06-01 00:00:21.2550,2020-06-01 00:24:18.9650,367,E 53 St & Lexington Ave,40.758281,-73.970694,497,E 17 St & Broadway,40.737050,-73.990093,21093,Customer,1997,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1882268,685,2020-06-30 23:59:41.1160,2020-07-01 00:11:06.7790,503,E 20 St & Park Ave,40.738274,-73.987520,3746,6 Ave & Broome St,40.724308,-74.004730,21056,Customer,1993,2
1882269,446,2020-06-30 23:59:46.4260,2020-07-01 00:07:13.0860,3699,W 50 St & 9 Ave,40.763605,-73.989180,523,W 38 St & 8 Ave,40.754666,-73.991382,30164,Customer,1969,0
1882270,439,2020-06-30 23:59:47.4770,2020-07-01 00:07:06.5590,3699,W 50 St & 9 Ave,40.763605,-73.989180,523,W 38 St & 8 Ave,40.754666,-73.991382,43742,Customer,1986,1
1882271,890,2020-06-30 23:59:53.3950,2020-07-01 00:14:43.4270,3852,Stewart Ave & Johnson Ave,40.708690,-73.925870,3054,Greene Ave & Throop Ave,40.689493,-73.942061,15787,Subscriber,1994,1
1882272,433,2020-06-30 23:59:53.9010,2020-07-01 00:07:07.0950,324,DeKalb Ave & Hudson Ave,40.689888,-73.981013,261,Johnson St & Gold St,40.694749,-73.983625,38767,Customer,1990,1

In [8]:
df1.isnull().any()

tripduration               False
starttime                  False
stoptime                   False
start station id           False
start station name         False
start station latitude     False
start station longitude    False
end station id             False
end station name           False
end station latitude       False
end station longitude      False
bikeid                     False
usertype                   False
birth year                 False
gender                     False
dtype: bool

In [9]:
df1.drop_duplicates()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1062,2020-06-01 00:00:03.3720,2020-06-01 00:17:46.2080,3419,Douglass St & 4 Ave,40.679279,-73.981540,3419,Douglass St & 4 Ave,40.679279,-73.981540,39852,Customer,1997,2
1,3810,2020-06-01 00:00:03.5530,2020-06-01 01:03:33.9360,366,Clinton Ave & Myrtle Ave,40.693261,-73.968896,336,Sullivan St & Washington Sq,40.730477,-73.999061,37558,Subscriber,1969,0
2,1017,2020-06-01 00:00:09.6140,2020-06-01 00:17:06.8330,389,Broadway & Berry St,40.710446,-73.965251,3562,Classon Ave & St Marks Ave,40.676520,-73.959608,37512,Customer,1988,2
3,226,2020-06-01 00:00:12.1780,2020-06-01 00:03:58.8640,3255,8 Ave & W 31 St,40.750585,-73.994685,505,6 Ave & W 33 St,40.749013,-73.988484,39674,Customer,1969,0
4,1437,2020-06-01 00:00:21.2550,2020-06-01 00:24:18.9650,367,E 53 St & Lexington Ave,40.758281,-73.970694,497,E 17 St & Broadway,40.737050,-73.990093,21093,Customer,1997,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1882268,685,2020-06-30 23:59:41.1160,2020-07-01 00:11:06.7790,503,E 20 St & Park Ave,40.738274,-73.987520,3746,6 Ave & Broome St,40.724308,-74.004730,21056,Customer,1993,2
1882269,446,2020-06-30 23:59:46.4260,2020-07-01 00:07:13.0860,3699,W 50 St & 9 Ave,40.763605,-73.989180,523,W 38 St & 8 Ave,40.754666,-73.991382,30164,Customer,1969,0
1882270,439,2020-06-30 23:59:47.4770,2020-07-01 00:07:06.5590,3699,W 50 St & 9 Ave,40.763605,-73.989180,523,W 38 St & 8 Ave,40.754666,-73.991382,43742,Customer,1986,1
1882271,890,2020-06-30 23:59:53.3950,2020-07-01 00:14:43.4270,3852,Stewart Ave & Johnson Ave,40.708690,-73.925870,3054,Greene Ave & Throop Ave,40.689493,-73.942061,15787,Subscriber,1994,1
1882272,433,2020-06-30 23:59:53.9010,2020-07-01 00:07:07.0950,324,DeKalb Ave & Hudson Ave,40.689888,-73.981013,261,Johnson St & Gold St,40.694749,-73.983625,38767,Customer,1990,1

In [10]:
df1.columns

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [11]:
df1['Age'] = 2019 - df1['birth year']
df1

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,Age
0,1062,2020-06-01 00:00:03.3720,2020-06-01 00:17:46.2080,3419,Douglass St & 4 Ave,40.679279,-73.981540,3419,Douglass St & 4 Ave,40.679279,-73.981540,39852,Customer,1997,2,22
1,3810,2020-06-01 00:00:03.5530,2020-06-01 01:03:33.9360,366,Clinton Ave & Myrtle Ave,40.693261,-73.968896,336,Sullivan St & Washington Sq,40.730477,-73.999061,37558,Subscriber,1969,0,50
2,1017,2020-06-01 00:00:09.6140,2020-06-01 00:17:06.8330,389,Broadway & Berry St,40.710446,-73.965251,3562,Classon Ave & St Marks Ave,40.676520,-73.959608,37512,Customer,1988,2,31
3,226,2020-06-01 00:00:12.1780,2020-06-01 00:03:58.8640,3255,8 Ave & W 31 St,40.750585,-73.994685,505,6 Ave & W 33 St,40.749013,-73.988484,39674,Customer,1969,0,50
4,1437,2020-06-01 00:00:21.2550,2020-06-01 00:24:18.9650,367,E 53 St & Lexington Ave,40.758281,-73.970694,497,E 17 St & Broadway,40.737050,-73.990093,21093,Customer,1997,2,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1882268,685,2020-06-30 23:59:41.1160,2020-07-01 00:11:06.7790,503,E 20 St & Park Ave,40.738274,-73.987520,3746,6 Ave & Broome St,40.724308,-74.004730,21056,Customer,1993,2,26
1882269,446,2020-06-30 23:59:46.4260,2020-07-01 00:07:13.0860,3699,W 50 St & 9 Ave,40.763605,-73.989180,523,W 38 St & 8 Ave,40.754666,-73.991382,30164,Customer,1969,0,50
1882270,439,2020-06-30 23:59:47.4770,2020-07-01 00:07:06.5590,3699,W 50 St & 9 Ave,40.763605,-73.989180,523,W 38 St & 8 Ave,40.754666,-73.991382,43742,Customer,1986,1,33
1882271,890,2020-06-30 23:59:53.3950,2020-07-01 00:14:43.4270,3852,Stewart Ave & Johnson Ave,40.708690,-73.925870,3054,Greene Ave & Throop Ave,40.689493,-73.942061,15787,Subscriber,1994,1,25
1882272,433,2020-06-30 23:59:53.9010,2020-07-01 00:07:07.0950,324,DeKalb Ave & Hudson Ave,40.689888,-73.981013,261,Johnson St & Gold St,40.694749,-73.983625,38767,Customer,1990,1,29

In [12]:
# Convert trip duration column from seconds to minutes
df1["tripduration"] = [trip/60 for trip in df1["tripduration"]]

# Filter out trips over 24 hours long
df1 = df1.loc[df1["tripduration"] < 1440, :]

df1.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,Age
0,17.700000,2020-06-01 00:00:03.3720,2020-06-01 00:17:46.2080,3419,Douglass St & 4 Ave,40.679279,-73.981540,3419,Douglass St & 4 Ave,40.679279,-73.981540,39852,Customer,1997,2,22
1,63.500000,2020-06-01 00:00:03.5530,2020-06-01 01:03:33.9360,366,Clinton Ave & Myrtle Ave,40.693261,-73.968896,336,Sullivan St & Washington Sq,40.730477,-73.999061,37558,Subscriber,1969,0,50
2,16.950000,2020-06-01 00:00:09.6140,2020-06-01 00:17:06.8330,389,Broadway & Berry St,40.710446,-73.965251,3562,Classon Ave & St Marks Ave,40.676520,-73.959608,37512,Customer,1988,2,31
3,3.766667,2020-06-01 00:00:12.1780,2020-06-01 00:03:58.8640,3255,8 Ave & W 31 St,40.750585,-73.994685,505,6 Ave & W 33 St,40.749013,-73.988484,39674,Customer,1969,0,50
4,23.950000,2020-06-01 00:00:21.2550,2020-06-01 00:24:18.9650,367,E 53 St & Lexington Ave,40.758281,-73.970694,497,E 17 St & Broadway,40.737050,-73.990093,21093,Customer,1997,2,22

In [13]:
df1.rename(columns = {'tripduration':'Trip Duration',  'starttime':'Start Time', 
                       'stoptime':'Stop Time', 'gender':'Gender', "usertype":"User Type",
                      'bikeid':'Bike ID', 'birth year':'Birth Year', 'start station id':'Start Station ID',
                      'start station name':'Start Station Name' , 'start station latitude':'lat1',
                       'start station longitude':'lon1', 'end station id':'End Station ID', 
                      'end station name':'End Station Name', 'end station latitude':'lat2',
                      'end station longitude':'lon2'}, inplace = True)

/Users/g_wizz/opt/anaconda3/envs/PythonData1/lib/python3.6/site-packages/pandas/core/frame.py:4303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [16]:
df1.columns

Index(['Trip Duration', 'Start Time', 'Stop Time', 'Start Station ID',
       'Start Station Name', 'lat1', 'lon1', 'End Station ID',
       'End Station Name', 'lat2', 'lon2', 'Bike ID', 'User Type',
       'Birth Year', 'Gender', 'Age'],
      dtype='object')

In [17]:
df1['Gender'].replace([0,1,2],['unknown','male','female'],inplace=True)
df1.head()

/Users/g_wizz/opt/anaconda3/envs/PythonData1/lib/python3.6/site-packages/pandas/core/series.py:4569: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  method=method,

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,lat1,lon1,End Station ID,End Station Name,lat2,lon2,Bike ID,User Type,Birth Year,Gender,Age
0,17.700000,2020-06-01 00:00:03.3720,2020-06-01 00:17:46.2080,3419,Douglass St & 4 Ave,40.679279,-73.981540,3419,Douglass St & 4 Ave,40.679279,-73.981540,39852,Customer,1997,female,22
1,63.500000,2020-06-01 00:00:03.5530,2020-06-01 01:03:33.9360,366,Clinton Ave & Myrtle Ave,40.693261,-73.968896,336,Sullivan St & Washington Sq,40.730477,-73.999061,37558,Subscriber,1969,unknown,50
2,16.950000,2020-06-01 00:00:09.6140,2020-06-01 00:17:06.8330,389,Broadway & Berry St,40.710446,-73.965251,3562,Classon Ave & St Marks Ave,40.676520,-73.959608,37512,Customer,1988,female,31
3,3.766667,2020-06-01 00:00:12.1780,2020-06-01 00:03:58.8640,3255,8 Ave & W 31 St,40.750585,-73.994685,505,6 Ave & W 33 St,40.749013,-73.988484,39674,Customer,1969,unknown,50
4,23.950000,2020-06-01 00:00:21.2550,2020-06-01 00:24:18.9650,367,E 53 St & Lexington Ave,40.758281,-73.970694,497,E 17 St & Broadway,40.737050,-73.990093,21093,Customer,1997,female,22

In [18]:
df1.drop(df1.loc[df1['Trip Duration']<5].index, inplace=True)
df1.head()

/Users/g_wizz/opt/anaconda3/envs/PythonData1/lib/python3.6/site-packages/pandas/core/frame.py:4169: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,lat1,lon1,End Station ID,End Station Name,lat2,lon2,Bike ID,User Type,Birth Year,Gender,Age
0,17.700000,2020-06-01 00:00:03.3720,2020-06-01 00:17:46.2080,3419,Douglass St & 4 Ave,40.679279,-73.981540,3419,Douglass St & 4 Ave,40.679279,-73.981540,39852,Customer,1997,female,22
1,63.500000,2020-06-01 00:00:03.5530,2020-06-01 01:03:33.9360,366,Clinton Ave & Myrtle Ave,40.693261,-73.968896,336,Sullivan St & Washington Sq,40.730477,-73.999061,37558,Subscriber,1969,unknown,50
2,16.950000,2020-06-01 00:00:09.6140,2020-06-01 00:17:06.8330,389,Broadway & Berry St,40.710446,-73.965251,3562,Classon Ave & St Marks Ave,40.676520,-73.959608,37512,Customer,1988,female,31
4,23.950000,2020-06-01 00:00:21.2550,2020-06-01 00:24:18.9650,367,E 53 St & Lexington Ave,40.758281,-73.970694,497,E 17 St & Broadway,40.737050,-73.990093,21093,Customer,1997,female,22
5,5.916667,2020-06-01 00:00:22.6500,2020-06-01 00:06:18.5250,248,Laight St & Hudson St,40.721854,-74.007718,247,Perry St & Bleecker St,40.735354,-74.004831,39594,Subscriber,1990,male,29

In [19]:
june_df = df1[(df1['Birth Year'] >= 1995) & (df1['Birth Year'] <= 2002)]
june_df.head()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,lat1,lon1,End Station ID,End Station Name,lat2,lon2,Bike ID,User Type,Birth Year,Gender,Age
0,17.700000,2020-06-01 00:00:03.3720,2020-06-01 00:17:46.2080,3419,Douglass St & 4 Ave,40.679279,-73.981540,3419,Douglass St & 4 Ave,40.679279,-73.981540,39852,Customer,1997,female,22
4,23.950000,2020-06-01 00:00:21.2550,2020-06-01 00:24:18.9650,367,E 53 St & Lexington Ave,40.758281,-73.970694,497,E 17 St & Broadway,40.737050,-73.990093,21093,Customer,1997,female,22
7,30.166667,2020-06-01 00:00:27.5880,2020-06-01 00:30:38.2560,3263,Cooper Square & Astor Pl,40.729515,-73.990753,496,E 16 St & 5 Ave,40.737262,-73.992390,16571,Customer,1995,female,24
15,28.833333,2020-06-01 00:01:04.1750,2020-06-01 00:29:55.1520,3812,University Pl & E 14 St,40.734814,-73.992085,477,W 41 St & 8 Ave,40.756405,-73.990026,33627,Customer,1996,male,23
20,10.150000,2020-06-01 00:01:18.0180,2020-06-01 00:11:27.9160,3078,Broadway & Roebling St,40.709248,-73.960631,3065,Union Ave & Wallabout St,40.700295,-73.950323,31316,Subscriber,1995,male,24

In [20]:
def haversine_distance(lat1, lon1, lat2, lon2):
   r = 6371
   phi1 = np.radians(lat1)
   phi2 = np.radians(lat2)
   delta_phi = np.radians(lat2-lat1)
   delta_lambda = np.radians(lon2-lon1)
   a = np.sin(delta_phi / 2)**2 + np.cos(phi1) * np.cos(phi2) *   np.sin(delta_lambda / 2)**2
   res = r * (2 * np.arctan2(np.sqrt(a), np.sqrt(1-a)))
   return np.round(res, 2)

june_df['distance'] = haversine_distance(june_df['lon1'],june_df['lat1'],june_df['lon2'],june_df['lat2'])
june_df.head()

/Users/g_wizz/opt/anaconda3/envs/PythonData1/lib/python3.6/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,lat1,lon1,End Station ID,End Station Name,lat2,lon2,Bike ID,User Type,Birth Year,Gender,Age,distance
0,17.700000,2020-06-01 00:00:03.3720,2020-06-01 00:17:46.2080,3419,Douglass St & 4 Ave,40.679279,-73.981540,3419,Douglass St & 4 Ave,40.679279,-73.981540,39852,Customer,1997,female,22,0.00
4,23.950000,2020-06-01 00:00:21.2550,2020-06-01 00:24:18.9650,367,E 53 St & Lexington Ave,40.758281,-73.970694,497,E 17 St & Broadway,40.737050,-73.990093,21093,Customer,1997,female,22,2.25
7,30.166667,2020-06-01 00:00:27.5880,2020-06-01 00:30:38.2560,3263,Cooper Square & Astor Pl,40.729515,-73.990753,496,E 16 St & 5 Ave,40.737262,-73.992390,16571,Customer,1995,female,24,0.30
15,28.833333,2020-06-01 00:01:04.1750,2020-06-01 00:29:55.1520,3812,University Pl & E 14 St,40.734814,-73.992085,477,W 41 St & 8 Ave,40.756405,-73.990026,33627,Customer,1996,male,23,0.70
20,10.150000,2020-06-01 00:01:18.0180,2020-06-01 00:11:27.9160,3078,Broadway & Roebling St,40.709248,-73.960631,3065,Union Ave & Wallabout St,40.700295,-73.950323,31316,Subscriber,1995,male,24,1.18

In [22]:
june_df.reset_index(drop=True, inplace=True)
june_df.head()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,lat1,lon1,End Station ID,End Station Name,lat2,lon2,Bike ID,User Type,Birth Year,Gender,Age,distance
0,17.700000,2020-06-01 00:00:03.3720,2020-06-01 00:17:46.2080,3419,Douglass St & 4 Ave,40.679279,-73.981540,3419,Douglass St & 4 Ave,40.679279,-73.981540,39852,Customer,1997,female,22,0.00
1,23.950000,2020-06-01 00:00:21.2550,2020-06-01 00:24:18.9650,367,E 53 St & Lexington Ave,40.758281,-73.970694,497,E 17 St & Broadway,40.737050,-73.990093,21093,Customer,1997,female,22,2.25
2,30.166667,2020-06-01 00:00:27.5880,2020-06-01 00:30:38.2560,3263,Cooper Square & Astor Pl,40.729515,-73.990753,496,E 16 St & 5 Ave,40.737262,-73.992390,16571,Customer,1995,female,24,0.30
3,28.833333,2020-06-01 00:01:04.1750,2020-06-01 00:29:55.1520,3812,University Pl & E 14 St,40.734814,-73.992085,477,W 41 St & 8 Ave,40.756405,-73.990026,33627,Customer,1996,male,23,0.70
4,10.150000,2020-06-01 00:01:18.0180,2020-06-01 00:11:27.9160,3078,Broadway & Roebling St,40.709248,-73.960631,3065,Union Ave & Wallabout St,40.700295,-73.950323,31316,Subscriber,1995,male,24,1.18

In [23]:
june_df.to_csv("June_2020.csv")