In [1]:
import pandas as pd
from pandas import to_datetime
import numpy as np

In [2]:
df1 = pd.read_csv("May_20-citibike-tripdata.csv")
df1.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,336,2020-05-01 00:01:06.3380,2020-05-01 00:06:42.9560,2017,E 43 St & 2 Ave,40.750224,-73.971214,465,Broadway & W 41 St,40.755136,-73.986580,18015,Subscriber,1993,1
1,853,2020-05-01 00:01:08.1950,2020-05-01 00:15:21.2150,3376,E 65 St & 2 Ave,40.764719,-73.962221,478,11 Ave & W 41 St,40.760301,-73.998842,35905,Subscriber,1989,1
2,78,2020-05-01 00:01:08.5260,2020-05-01 00:02:27.0490,396,Lefferts Pl & Franklin Ave,40.680342,-73.955769,3789,Fulton St & Irving Pl,40.681860,-73.959432,33350,Subscriber,1938,2
3,1185,2020-05-01 00:02:22.4380,2020-05-01 00:22:08.1220,3630,Frederick Douglass Blvd & W 115 St,40.803865,-73.955931,3506,Lexington Ave & E 120 St,40.801307,-73.939817,43790,Subscriber,1996,1
4,272,2020-05-01 00:02:32.8280,2020-05-01 00:07:05.0880,3776,Central Ave & Starr Street,40.700003,-73.928340,3068,Humboldt St & Varet St,40.703172,-73.940636,39912,Subscriber,1993,1

In [3]:
df1.count()

tripduration               1487890
starttime                  1487890
stoptime                   1487890
start station id           1487890
start station name         1487890
start station latitude     1487890
start station longitude    1487890
end station id             1487890
end station name           1487890
end station latitude       1487890
end station longitude      1487890
bikeid                     1487890
usertype                   1487890
birth year                 1487890
gender                     1487890
dtype: int64

In [4]:
df1.dropna(how='any', inplace=True)
df1.count()

tripduration               1487890
starttime                  1487890
stoptime                   1487890
start station id           1487890
start station name         1487890
start station latitude     1487890
start station longitude    1487890
end station id             1487890
end station name           1487890
end station latitude       1487890
end station longitude      1487890
bikeid                     1487890
usertype                   1487890
birth year                 1487890
gender                     1487890
dtype: int64

In [5]:
df1[pd.isnull(df1).any(axis=1)]

Empty DataFrame
Columns: [tripduration, starttime, stoptime, start station id, start station name, start station latitude, start station longitude, end station id, end station name, end station latitude, end station longitude, bikeid, usertype, birth year, gender]
Index: []

In [6]:
df1.dropna()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,336,2020-05-01 00:01:06.3380,2020-05-01 00:06:42.9560,2017,E 43 St & 2 Ave,40.750224,-73.971214,465,Broadway & W 41 St,40.755136,-73.986580,18015,Subscriber,1993,1
1,853,2020-05-01 00:01:08.1950,2020-05-01 00:15:21.2150,3376,E 65 St & 2 Ave,40.764719,-73.962221,478,11 Ave & W 41 St,40.760301,-73.998842,35905,Subscriber,1989,1
2,78,2020-05-01 00:01:08.5260,2020-05-01 00:02:27.0490,396,Lefferts Pl & Franklin Ave,40.680342,-73.955769,3789,Fulton St & Irving Pl,40.681860,-73.959432,33350,Subscriber,1938,2
3,1185,2020-05-01 00:02:22.4380,2020-05-01 00:22:08.1220,3630,Frederick Douglass Blvd & W 115 St,40.803865,-73.955931,3506,Lexington Ave & E 120 St,40.801307,-73.939817,43790,Subscriber,1996,1
4,272,2020-05-01 00:02:32.8280,2020-05-01 00:07:05.0880,3776,Central Ave & Starr Street,40.700003,-73.928340,3068,Humboldt St & Varet St,40.703172,-73.940636,39912,Subscriber,1993,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1487885,981,2020-05-31 23:59:19.0310,2020-06-01 00:15:40.5590,313,Washington Ave & Park Ave,40.696102,-73.967510,217,Old Fulton St,40.702772,-73.993836,43706,Subscriber,1972,2
1487886,367,2020-05-31 23:59:36.2270,2020-06-01 00:05:43.6200,545,E 23 St & 1 Ave,40.736502,-73.978095,501,FDR Drive & E 35 St,40.744219,-73.971212,41321,Subscriber,1994,2
1487887,1798,2020-05-31 23:59:37.7250,2020-06-01 00:29:36.6800,450,W 49 St & 8 Ave,40.762272,-73.987882,485,W 37 St & 5 Ave,40.750380,-73.983390,37418,Subscriber,1998,1
1487888,718,2020-05-31 23:59:47.7090,2020-06-01 00:11:46.5210,3691,28 Ave & 44 St,40.764089,-73.910651,3691,28 Ave & 44 St,40.764089,-73.910651,41190,Customer,1969,0
1487889,1168,2020-05-31 23:59:48.0660,2020-06-01 00:19:16.4730,467,Dean St & 4 Ave,40.683125,-73.978951,239,Willoughby St & Fleet St,40.691966,-73.981302,33450,Customer,2000,1

In [7]:
df1.isnull().any()

tripduration               False
starttime                  False
stoptime                   False
start station id           False
start station name         False
start station latitude     False
start station longitude    False
end station id             False
end station name           False
end station latitude       False
end station longitude      False
bikeid                     False
usertype                   False
birth year                 False
gender                     False
dtype: bool

In [8]:
df1.drop_duplicates()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,336,2020-05-01 00:01:06.3380,2020-05-01 00:06:42.9560,2017,E 43 St & 2 Ave,40.750224,-73.971214,465,Broadway & W 41 St,40.755136,-73.986580,18015,Subscriber,1993,1
1,853,2020-05-01 00:01:08.1950,2020-05-01 00:15:21.2150,3376,E 65 St & 2 Ave,40.764719,-73.962221,478,11 Ave & W 41 St,40.760301,-73.998842,35905,Subscriber,1989,1
2,78,2020-05-01 00:01:08.5260,2020-05-01 00:02:27.0490,396,Lefferts Pl & Franklin Ave,40.680342,-73.955769,3789,Fulton St & Irving Pl,40.681860,-73.959432,33350,Subscriber,1938,2
3,1185,2020-05-01 00:02:22.4380,2020-05-01 00:22:08.1220,3630,Frederick Douglass Blvd & W 115 St,40.803865,-73.955931,3506,Lexington Ave & E 120 St,40.801307,-73.939817,43790,Subscriber,1996,1
4,272,2020-05-01 00:02:32.8280,2020-05-01 00:07:05.0880,3776,Central Ave & Starr Street,40.700003,-73.928340,3068,Humboldt St & Varet St,40.703172,-73.940636,39912,Subscriber,1993,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1487885,981,2020-05-31 23:59:19.0310,2020-06-01 00:15:40.5590,313,Washington Ave & Park Ave,40.696102,-73.967510,217,Old Fulton St,40.702772,-73.993836,43706,Subscriber,1972,2
1487886,367,2020-05-31 23:59:36.2270,2020-06-01 00:05:43.6200,545,E 23 St & 1 Ave,40.736502,-73.978095,501,FDR Drive & E 35 St,40.744219,-73.971212,41321,Subscriber,1994,2
1487887,1798,2020-05-31 23:59:37.7250,2020-06-01 00:29:36.6800,450,W 49 St & 8 Ave,40.762272,-73.987882,485,W 37 St & 5 Ave,40.750380,-73.983390,37418,Subscriber,1998,1
1487888,718,2020-05-31 23:59:47.7090,2020-06-01 00:11:46.5210,3691,28 Ave & 44 St,40.764089,-73.910651,3691,28 Ave & 44 St,40.764089,-73.910651,41190,Customer,1969,0
1487889,1168,2020-05-31 23:59:48.0660,2020-06-01 00:19:16.4730,467,Dean St & 4 Ave,40.683125,-73.978951,239,Willoughby St & Fleet St,40.691966,-73.981302,33450,Customer,2000,1

In [9]:
df1.columns

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [10]:
df1['Age'] = 2019 - df1['birth year']
df1

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,Age
0,336,2020-05-01 00:01:06.3380,2020-05-01 00:06:42.9560,2017,E 43 St & 2 Ave,40.750224,-73.971214,465,Broadway & W 41 St,40.755136,-73.986580,18015,Subscriber,1993,1,26
1,853,2020-05-01 00:01:08.1950,2020-05-01 00:15:21.2150,3376,E 65 St & 2 Ave,40.764719,-73.962221,478,11 Ave & W 41 St,40.760301,-73.998842,35905,Subscriber,1989,1,30
2,78,2020-05-01 00:01:08.5260,2020-05-01 00:02:27.0490,396,Lefferts Pl & Franklin Ave,40.680342,-73.955769,3789,Fulton St & Irving Pl,40.681860,-73.959432,33350,Subscriber,1938,2,81
3,1185,2020-05-01 00:02:22.4380,2020-05-01 00:22:08.1220,3630,Frederick Douglass Blvd & W 115 St,40.803865,-73.955931,3506,Lexington Ave & E 120 St,40.801307,-73.939817,43790,Subscriber,1996,1,23
4,272,2020-05-01 00:02:32.8280,2020-05-01 00:07:05.0880,3776,Central Ave & Starr Street,40.700003,-73.928340,3068,Humboldt St & Varet St,40.703172,-73.940636,39912,Subscriber,1993,1,26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1487885,981,2020-05-31 23:59:19.0310,2020-06-01 00:15:40.5590,313,Washington Ave & Park Ave,40.696102,-73.967510,217,Old Fulton St,40.702772,-73.993836,43706,Subscriber,1972,2,47
1487886,367,2020-05-31 23:59:36.2270,2020-06-01 00:05:43.6200,545,E 23 St & 1 Ave,40.736502,-73.978095,501,FDR Drive & E 35 St,40.744219,-73.971212,41321,Subscriber,1994,2,25
1487887,1798,2020-05-31 23:59:37.7250,2020-06-01 00:29:36.6800,450,W 49 St & 8 Ave,40.762272,-73.987882,485,W 37 St & 5 Ave,40.750380,-73.983390,37418,Subscriber,1998,1,21
1487888,718,2020-05-31 23:59:47.7090,2020-06-01 00:11:46.5210,3691,28 Ave & 44 St,40.764089,-73.910651,3691,28 Ave & 44 St,40.764089,-73.910651,41190,Customer,1969,0,50
1487889,1168,2020-05-31 23:59:48.0660,2020-06-01 00:19:16.4730,467,Dean St & 4 Ave,40.683125,-73.978951,239,Willoughby St & Fleet St,40.691966,-73.981302,33450,Customer,2000,1,19

In [11]:
# Convert trip duration column from seconds to minutes
df1["tripduration"] = [trip/60 for trip in df1["tripduration"]]

# Filter out trips over 24 hours long
df1 = df1.loc[df1["tripduration"] < 1440, :]

df1.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,Age
0,5.600000,2020-05-01 00:01:06.3380,2020-05-01 00:06:42.9560,2017,E 43 St & 2 Ave,40.750224,-73.971214,465,Broadway & W 41 St,40.755136,-73.986580,18015,Subscriber,1993,1,26
1,14.216667,2020-05-01 00:01:08.1950,2020-05-01 00:15:21.2150,3376,E 65 St & 2 Ave,40.764719,-73.962221,478,11 Ave & W 41 St,40.760301,-73.998842,35905,Subscriber,1989,1,30
2,1.300000,2020-05-01 00:01:08.5260,2020-05-01 00:02:27.0490,396,Lefferts Pl & Franklin Ave,40.680342,-73.955769,3789,Fulton St & Irving Pl,40.681860,-73.959432,33350,Subscriber,1938,2,81
3,19.750000,2020-05-01 00:02:22.4380,2020-05-01 00:22:08.1220,3630,Frederick Douglass Blvd & W 115 St,40.803865,-73.955931,3506,Lexington Ave & E 120 St,40.801307,-73.939817,43790,Subscriber,1996,1,23
4,4.533333,2020-05-01 00:02:32.8280,2020-05-01 00:07:05.0880,3776,Central Ave & Starr Street,40.700003,-73.928340,3068,Humboldt St & Varet St,40.703172,-73.940636,39912,Subscriber,1993,1,26

In [12]:
df1.rename(columns = {'tripduration':'Trip Duration',  'starttime':'Start Time', 
                       'stoptime':'Stop Time', 'gender':'Gender', "usertype":"User Type",
                      'bikeid':'Bike ID', 'birth year':'Birth Year', 'start station id':'Start Station ID',
                      'start station name':'Start Station Name' , 'start station latitude':'lat1',
                       'start station longitude':'lon1', 'end station id':'End Station ID', 
                      'end station name':'End Station Name', 'end station latitude':'lat2',
                      'end station longitude':'lon2'}, inplace = True)

/Users/g_wizz/opt/anaconda3/envs/PythonData1/lib/python3.6/site-packages/pandas/core/frame.py:4303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [13]:
df1.head()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,lat1,lon1,End Station ID,End Station Name,lat2,lon2,Bike ID,User Type,Birth Year,Gender,Age
0,5.600000,2020-05-01 00:01:06.3380,2020-05-01 00:06:42.9560,2017,E 43 St & 2 Ave,40.750224,-73.971214,465,Broadway & W 41 St,40.755136,-73.986580,18015,Subscriber,1993,1,26
1,14.216667,2020-05-01 00:01:08.1950,2020-05-01 00:15:21.2150,3376,E 65 St & 2 Ave,40.764719,-73.962221,478,11 Ave & W 41 St,40.760301,-73.998842,35905,Subscriber,1989,1,30
2,1.300000,2020-05-01 00:01:08.5260,2020-05-01 00:02:27.0490,396,Lefferts Pl & Franklin Ave,40.680342,-73.955769,3789,Fulton St & Irving Pl,40.681860,-73.959432,33350,Subscriber,1938,2,81
3,19.750000,2020-05-01 00:02:22.4380,2020-05-01 00:22:08.1220,3630,Frederick Douglass Blvd & W 115 St,40.803865,-73.955931,3506,Lexington Ave & E 120 St,40.801307,-73.939817,43790,Subscriber,1996,1,23
4,4.533333,2020-05-01 00:02:32.8280,2020-05-01 00:07:05.0880,3776,Central Ave & Starr Street,40.700003,-73.928340,3068,Humboldt St & Varet St,40.703172,-73.940636,39912,Subscriber,1993,1,26

In [14]:
df1['Gender'].replace([0,1,2],['unknown','male','female'],inplace=True)
df1.head()

/Users/g_wizz/opt/anaconda3/envs/PythonData1/lib/python3.6/site-packages/pandas/core/series.py:4569: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  method=method,

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,lat1,lon1,End Station ID,End Station Name,lat2,lon2,Bike ID,User Type,Birth Year,Gender,Age
0,5.600000,2020-05-01 00:01:06.3380,2020-05-01 00:06:42.9560,2017,E 43 St & 2 Ave,40.750224,-73.971214,465,Broadway & W 41 St,40.755136,-73.986580,18015,Subscriber,1993,male,26
1,14.216667,2020-05-01 00:01:08.1950,2020-05-01 00:15:21.2150,3376,E 65 St & 2 Ave,40.764719,-73.962221,478,11 Ave & W 41 St,40.760301,-73.998842,35905,Subscriber,1989,male,30
2,1.300000,2020-05-01 00:01:08.5260,2020-05-01 00:02:27.0490,396,Lefferts Pl & Franklin Ave,40.680342,-73.955769,3789,Fulton St & Irving Pl,40.681860,-73.959432,33350,Subscriber,1938,female,81
3,19.750000,2020-05-01 00:02:22.4380,2020-05-01 00:22:08.1220,3630,Frederick Douglass Blvd & W 115 St,40.803865,-73.955931,3506,Lexington Ave & E 120 St,40.801307,-73.939817,43790,Subscriber,1996,male,23
4,4.533333,2020-05-01 00:02:32.8280,2020-05-01 00:07:05.0880,3776,Central Ave & Starr Street,40.700003,-73.928340,3068,Humboldt St & Varet St,40.703172,-73.940636,39912,Subscriber,1993,male,26

In [15]:
df1.drop(df1.loc[df1['Trip Duration']<5].index, inplace=True)
df1.head()

/Users/g_wizz/opt/anaconda3/envs/PythonData1/lib/python3.6/site-packages/pandas/core/frame.py:4169: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,lat1,lon1,End Station ID,End Station Name,lat2,lon2,Bike ID,User Type,Birth Year,Gender,Age
0,5.600000,2020-05-01 00:01:06.3380,2020-05-01 00:06:42.9560,2017,E 43 St & 2 Ave,40.750224,-73.971214,465,Broadway & W 41 St,40.755136,-73.986580,18015,Subscriber,1993,male,26
1,14.216667,2020-05-01 00:01:08.1950,2020-05-01 00:15:21.2150,3376,E 65 St & 2 Ave,40.764719,-73.962221,478,11 Ave & W 41 St,40.760301,-73.998842,35905,Subscriber,1989,male,30
3,19.750000,2020-05-01 00:02:22.4380,2020-05-01 00:22:08.1220,3630,Frederick Douglass Blvd & W 115 St,40.803865,-73.955931,3506,Lexington Ave & E 120 St,40.801307,-73.939817,43790,Subscriber,1996,male,23
5,6.866667,2020-05-01 00:03:35.9370,2020-05-01 00:10:28.0640,3041,Kingston Ave & Herkimer St,40.678907,-73.941428,3059,Pulaski St & Marcus Garvey Blvd,40.693398,-73.939877,37769,Subscriber,1969,unknown,50
6,15.416667,2020-05-01 00:04:12.4690,2020-05-01 00:19:37.7330,3142,1 Ave & E 62 St,40.761227,-73.960940,3521,Lenox Ave & W 111 St,40.798786,-73.952300,37596,Subscriber,1991,male,28

In [16]:
may_df = df1[(df1['Birth Year'] >= 1995) & (df1['Birth Year'] <= 2002)]
may_df.head()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,lat1,lon1,End Station ID,End Station Name,lat2,lon2,Bike ID,User Type,Birth Year,Gender,Age
3,19.750000,2020-05-01 00:02:22.4380,2020-05-01 00:22:08.1220,3630,Frederick Douglass Blvd & W 115 St,40.803865,-73.955931,3506,Lexington Ave & E 120 St,40.801307,-73.939817,43790,Subscriber,1996,male,23
35,21.200000,2020-05-01 00:22:37.8920,2020-05-01 00:43:49.9540,3506,Lexington Ave & E 120 St,40.801307,-73.939817,3553,Frederick Douglass Blvd & W 112 St,40.801694,-73.957145,43790,Subscriber,1996,male,23
41,25.483333,2020-05-01 00:26:07.1600,2020-05-01 00:51:36.8510,72,W 52 St & 11 Ave,40.767272,-73.993929,3687,E 33 St & 1 Ave,40.743227,-73.974498,35202,Customer,1998,female,21
55,8.283333,2020-05-01 00:36:19.0070,2020-05-01 00:44:36.4270,505,6 Ave & W 33 St,40.749013,-73.988484,3463,E 16 St & Irving Pl,40.735367,-73.987974,32097,Customer,1997,male,22
62,7.933333,2020-05-01 00:39:15.9430,2020-05-01 00:47:12.9130,468,Broadway & W 56 St,40.765265,-73.981923,3799,6 Ave & W 34 St,40.749640,-73.988050,33938,Subscriber,2001,male,18

In [17]:
def haversine_distance(lat1, lon1, lat2, lon2):
   r = 6371
   phi1 = np.radians(lat1)
   phi2 = np.radians(lat2)
   delta_phi = np.radians(lat2-lat1)
   delta_lambda = np.radians(lon2-lon1)
   a = np.sin(delta_phi / 2)**2 + np.cos(phi1) * np.cos(phi2) *   np.sin(delta_lambda / 2)**2
   res = r * (2 * np.arctan2(np.sqrt(a), np.sqrt(1-a)))
   return np.round(res, 2)

may_df['distance'] = haversine_distance(may_df['lon1'],may_df['lat1'],may_df['lon2'],may_df['lat2'])
may_df.head()

/Users/g_wizz/opt/anaconda3/envs/PythonData1/lib/python3.6/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,lat1,lon1,End Station ID,End Station Name,lat2,lon2,Bike ID,User Type,Birth Year,Gender,Age,distance
3,19.750000,2020-05-01 00:02:22.4380,2020-05-01 00:22:08.1220,3630,Frederick Douglass Blvd & W 115 St,40.803865,-73.955931,3506,Lexington Ave & E 120 St,40.801307,-73.939817,43790,Subscriber,1996,male,23,1.79
35,21.200000,2020-05-01 00:22:37.8920,2020-05-01 00:43:49.9540,3506,Lexington Ave & E 120 St,40.801307,-73.939817,3553,Frederick Douglass Blvd & W 112 St,40.801694,-73.957145,43790,Subscriber,1996,male,23,1.93
41,25.483333,2020-05-01 00:26:07.1600,2020-05-01 00:51:36.8510,72,W 52 St & 11 Ave,40.767272,-73.993929,3687,E 33 St & 1 Ave,40.743227,-73.974498,35202,Customer,1998,female,21,2.28
55,8.283333,2020-05-01 00:36:19.0070,2020-05-01 00:44:36.4270,505,6 Ave & W 33 St,40.749013,-73.988484,3463,E 16 St & Irving Pl,40.735367,-73.987974,32097,Customer,1997,male,22,0.42
62,7.933333,2020-05-01 00:39:15.9430,2020-05-01 00:47:12.9130,468,Broadway & W 56 St,40.765265,-73.981923,3799,6 Ave & W 34 St,40.749640,-73.988050,33938,Subscriber,2001,male,18,0.83

In [18]:
may_df.reset_index(drop=True, inplace=True)
may_df.head()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,lat1,lon1,End Station ID,End Station Name,lat2,lon2,Bike ID,User Type,Birth Year,Gender,Age,distance
0,19.750000,2020-05-01 00:02:22.4380,2020-05-01 00:22:08.1220,3630,Frederick Douglass Blvd & W 115 St,40.803865,-73.955931,3506,Lexington Ave & E 120 St,40.801307,-73.939817,43790,Subscriber,1996,male,23,1.79
1,21.200000,2020-05-01 00:22:37.8920,2020-05-01 00:43:49.9540,3506,Lexington Ave & E 120 St,40.801307,-73.939817,3553,Frederick Douglass Blvd & W 112 St,40.801694,-73.957145,43790,Subscriber,1996,male,23,1.93
2,25.483333,2020-05-01 00:26:07.1600,2020-05-01 00:51:36.8510,72,W 52 St & 11 Ave,40.767272,-73.993929,3687,E 33 St & 1 Ave,40.743227,-73.974498,35202,Customer,1998,female,21,2.28
3,8.283333,2020-05-01 00:36:19.0070,2020-05-01 00:44:36.4270,505,6 Ave & W 33 St,40.749013,-73.988484,3463,E 16 St & Irving Pl,40.735367,-73.987974,32097,Customer,1997,male,22,0.42
4,7.933333,2020-05-01 00:39:15.9430,2020-05-01 00:47:12.9130,468,Broadway & W 56 St,40.765265,-73.981923,3799,6 Ave & W 34 St,40.749640,-73.988050,33938,Subscriber,2001,male,18,0.83

In [19]:
may_df.to_csv("May_2020.csv")