In [1]:
import pandas as pd
from pandas import to_datetime
import numpy as np

In [2]:
df1 = pd.read_csv("July_19-citibike-tripdata.csv")
df1.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,897,2019-07-01 00:00:00.1320,2019-07-01 00:14:58.0040,493.0,W 45 St & 6 Ave,40.756800,-73.982912,454.0,E 51 St & 1 Ave,40.754557,-73.965930,18340,Subscriber,1966,1
1,267,2019-07-01 00:00:05.1780,2019-07-01 00:04:32.4500,3143.0,5 Ave & E 78 St,40.776321,-73.964274,3226.0,W 82 St & Central Park West,40.782750,-73.971370,21458,Customer,1996,1
2,2201,2019-07-01 00:00:05.2130,2019-07-01 00:36:46.7490,317.0,E 6 St & Avenue B,40.724537,-73.981854,3469.0,India St & West St,40.731814,-73.959950,39874,Subscriber,1986,1
3,1660,2019-07-01 00:00:08.6010,2019-07-01 00:27:48.8050,249.0,Harrison St & Hudson St,40.718710,-74.009001,369.0,Washington Pl & 6 Ave,40.732241,-74.000264,38865,Subscriber,1988,1
4,109,2019-07-01 00:00:12.1580,2019-07-01 00:02:01.5670,3552.0,W 113 St & Broadway,40.805973,-73.964928,3538.0,W 110 St & Amsterdam Ave,40.802692,-73.962950,30256,Subscriber,1997,1

In [3]:
df1.count()

tripduration               2181064
starttime                  2181064
stoptime                   2181064
start station id           2181010
start station name         2181010
start station latitude     2181064
start station longitude    2181064
end station id             2181010
end station name           2181010
end station latitude       2181064
end station longitude      2181064
bikeid                     2181064
usertype                   2181064
birth year                 2181064
gender                     2181064
dtype: int64

In [4]:
df1.dropna(how='any', inplace=True)
df1.count()

tripduration               2181010
starttime                  2181010
stoptime                   2181010
start station id           2181010
start station name         2181010
start station latitude     2181010
start station longitude    2181010
end station id             2181010
end station name           2181010
end station latitude       2181010
end station longitude      2181010
bikeid                     2181010
usertype                   2181010
birth year                 2181010
gender                     2181010
dtype: int64

In [5]:
df1[pd.isnull(df1).any(axis=1)]

Empty DataFrame
Columns: [tripduration, starttime, stoptime, start station id, start station name, start station latitude, start station longitude, end station id, end station name, end station latitude, end station longitude, bikeid, usertype, birth year, gender]
Index: []

In [6]:
df1.dropna()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,897,2019-07-01 00:00:00.1320,2019-07-01 00:14:58.0040,493.0,W 45 St & 6 Ave,40.756800,-73.982912,454.0,E 51 St & 1 Ave,40.754557,-73.965930,18340,Subscriber,1966,1
1,267,2019-07-01 00:00:05.1780,2019-07-01 00:04:32.4500,3143.0,5 Ave & E 78 St,40.776321,-73.964274,3226.0,W 82 St & Central Park West,40.782750,-73.971370,21458,Customer,1996,1
2,2201,2019-07-01 00:00:05.2130,2019-07-01 00:36:46.7490,317.0,E 6 St & Avenue B,40.724537,-73.981854,3469.0,India St & West St,40.731814,-73.959950,39874,Subscriber,1986,1
3,1660,2019-07-01 00:00:08.6010,2019-07-01 00:27:48.8050,249.0,Harrison St & Hudson St,40.718710,-74.009001,369.0,Washington Pl & 6 Ave,40.732241,-74.000264,38865,Subscriber,1988,1
4,109,2019-07-01 00:00:12.1580,2019-07-01 00:02:01.5670,3552.0,W 113 St & Broadway,40.805973,-73.964928,3538.0,W 110 St & Amsterdam Ave,40.802692,-73.962950,30256,Subscriber,1997,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2181059,644,2019-07-31 23:59:45.2950,2019-08-01 00:10:29.8640,274.0,Lafayette Ave & Fort Greene Pl,40.686919,-73.976682,3409.0,Bergen St & Smith St,40.686744,-73.990632,19018,Subscriber,1964,1
2181060,589,2019-07-31 23:59:52.7170,2019-08-01 00:09:42.0870,3285.0,W 87 St & Amsterdam Ave,40.788390,-73.974700,3356.0,Amsterdam Ave & W 66 St,40.774667,-73.984706,15330,Subscriber,1997,1
2181061,1302,2019-07-31 23:59:52.8280,2019-08-01 00:21:35.1090,331.0,Pike St & Monroe St,40.711731,-73.991930,309.0,Murray St & West St,40.714979,-74.013012,39730,Subscriber,1966,2
2181062,353,2019-07-31 23:59:57.1130,2019-08-01 00:05:50.1350,3255.0,8 Ave & W 31 St,40.750585,-73.994685,482.0,W 15 St & 7 Ave,40.739355,-73.999318,30149,Subscriber,1994,1
2181063,274,2019-07-31 23:59:57.4870,2019-08-01 00:04:32.2070,3459.0,E 53 St & 3 Ave,40.757632,-73.969306,3134.0,3 Ave & E 62 St,40.763126,-73.965269,25344,Subscriber,1994,2

In [7]:
df1.isnull().any()

tripduration               False
starttime                  False
stoptime                   False
start station id           False
start station name         False
start station latitude     False
start station longitude    False
end station id             False
end station name           False
end station latitude       False
end station longitude      False
bikeid                     False
usertype                   False
birth year                 False
gender                     False
dtype: bool

In [8]:
df1.drop_duplicates()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,897,2019-07-01 00:00:00.1320,2019-07-01 00:14:58.0040,493.0,W 45 St & 6 Ave,40.756800,-73.982912,454.0,E 51 St & 1 Ave,40.754557,-73.965930,18340,Subscriber,1966,1
1,267,2019-07-01 00:00:05.1780,2019-07-01 00:04:32.4500,3143.0,5 Ave & E 78 St,40.776321,-73.964274,3226.0,W 82 St & Central Park West,40.782750,-73.971370,21458,Customer,1996,1
2,2201,2019-07-01 00:00:05.2130,2019-07-01 00:36:46.7490,317.0,E 6 St & Avenue B,40.724537,-73.981854,3469.0,India St & West St,40.731814,-73.959950,39874,Subscriber,1986,1
3,1660,2019-07-01 00:00:08.6010,2019-07-01 00:27:48.8050,249.0,Harrison St & Hudson St,40.718710,-74.009001,369.0,Washington Pl & 6 Ave,40.732241,-74.000264,38865,Subscriber,1988,1
4,109,2019-07-01 00:00:12.1580,2019-07-01 00:02:01.5670,3552.0,W 113 St & Broadway,40.805973,-73.964928,3538.0,W 110 St & Amsterdam Ave,40.802692,-73.962950,30256,Subscriber,1997,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2181059,644,2019-07-31 23:59:45.2950,2019-08-01 00:10:29.8640,274.0,Lafayette Ave & Fort Greene Pl,40.686919,-73.976682,3409.0,Bergen St & Smith St,40.686744,-73.990632,19018,Subscriber,1964,1
2181060,589,2019-07-31 23:59:52.7170,2019-08-01 00:09:42.0870,3285.0,W 87 St & Amsterdam Ave,40.788390,-73.974700,3356.0,Amsterdam Ave & W 66 St,40.774667,-73.984706,15330,Subscriber,1997,1
2181061,1302,2019-07-31 23:59:52.8280,2019-08-01 00:21:35.1090,331.0,Pike St & Monroe St,40.711731,-73.991930,309.0,Murray St & West St,40.714979,-74.013012,39730,Subscriber,1966,2
2181062,353,2019-07-31 23:59:57.1130,2019-08-01 00:05:50.1350,3255.0,8 Ave & W 31 St,40.750585,-73.994685,482.0,W 15 St & 7 Ave,40.739355,-73.999318,30149,Subscriber,1994,1
2181063,274,2019-07-31 23:59:57.4870,2019-08-01 00:04:32.2070,3459.0,E 53 St & 3 Ave,40.757632,-73.969306,3134.0,3 Ave & E 62 St,40.763126,-73.965269,25344,Subscriber,1994,2

In [9]:
df1.columns

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [10]:
df1['Age'] = 2019 - df1['birth year']
df1

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,Age
0,897,2019-07-01 00:00:00.1320,2019-07-01 00:14:58.0040,493.0,W 45 St & 6 Ave,40.756800,-73.982912,454.0,E 51 St & 1 Ave,40.754557,-73.965930,18340,Subscriber,1966,1,53
1,267,2019-07-01 00:00:05.1780,2019-07-01 00:04:32.4500,3143.0,5 Ave & E 78 St,40.776321,-73.964274,3226.0,W 82 St & Central Park West,40.782750,-73.971370,21458,Customer,1996,1,23
2,2201,2019-07-01 00:00:05.2130,2019-07-01 00:36:46.7490,317.0,E 6 St & Avenue B,40.724537,-73.981854,3469.0,India St & West St,40.731814,-73.959950,39874,Subscriber,1986,1,33
3,1660,2019-07-01 00:00:08.6010,2019-07-01 00:27:48.8050,249.0,Harrison St & Hudson St,40.718710,-74.009001,369.0,Washington Pl & 6 Ave,40.732241,-74.000264,38865,Subscriber,1988,1,31
4,109,2019-07-01 00:00:12.1580,2019-07-01 00:02:01.5670,3552.0,W 113 St & Broadway,40.805973,-73.964928,3538.0,W 110 St & Amsterdam Ave,40.802692,-73.962950,30256,Subscriber,1997,1,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2181059,644,2019-07-31 23:59:45.2950,2019-08-01 00:10:29.8640,274.0,Lafayette Ave & Fort Greene Pl,40.686919,-73.976682,3409.0,Bergen St & Smith St,40.686744,-73.990632,19018,Subscriber,1964,1,55
2181060,589,2019-07-31 23:59:52.7170,2019-08-01 00:09:42.0870,3285.0,W 87 St & Amsterdam Ave,40.788390,-73.974700,3356.0,Amsterdam Ave & W 66 St,40.774667,-73.984706,15330,Subscriber,1997,1,22
2181061,1302,2019-07-31 23:59:52.8280,2019-08-01 00:21:35.1090,331.0,Pike St & Monroe St,40.711731,-73.991930,309.0,Murray St & West St,40.714979,-74.013012,39730,Subscriber,1966,2,53
2181062,353,2019-07-31 23:59:57.1130,2019-08-01 00:05:50.1350,3255.0,8 Ave & W 31 St,40.750585,-73.994685,482.0,W 15 St & 7 Ave,40.739355,-73.999318,30149,Subscriber,1994,1,25
2181063,274,2019-07-31 23:59:57.4870,2019-08-01 00:04:32.2070,3459.0,E 53 St & 3 Ave,40.757632,-73.969306,3134.0,3 Ave & E 62 St,40.763126,-73.965269,25344,Subscriber,1994,2,25

In [11]:
# Convert trip duration column from seconds to minutes
df1["tripduration"] = [trip/60 for trip in df1["tripduration"]]

# Filter out trips over 24 hours long
df1 = df1.loc[df1["tripduration"] < 1440, :]

df1.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,Age
0,14.950000,2019-07-01 00:00:00.1320,2019-07-01 00:14:58.0040,493.0,W 45 St & 6 Ave,40.756800,-73.982912,454.0,E 51 St & 1 Ave,40.754557,-73.965930,18340,Subscriber,1966,1,53
1,4.450000,2019-07-01 00:00:05.1780,2019-07-01 00:04:32.4500,3143.0,5 Ave & E 78 St,40.776321,-73.964274,3226.0,W 82 St & Central Park West,40.782750,-73.971370,21458,Customer,1996,1,23
2,36.683333,2019-07-01 00:00:05.2130,2019-07-01 00:36:46.7490,317.0,E 6 St & Avenue B,40.724537,-73.981854,3469.0,India St & West St,40.731814,-73.959950,39874,Subscriber,1986,1,33
3,27.666667,2019-07-01 00:00:08.6010,2019-07-01 00:27:48.8050,249.0,Harrison St & Hudson St,40.718710,-74.009001,369.0,Washington Pl & 6 Ave,40.732241,-74.000264,38865,Subscriber,1988,1,31
4,1.816667,2019-07-01 00:00:12.1580,2019-07-01 00:02:01.5670,3552.0,W 113 St & Broadway,40.805973,-73.964928,3538.0,W 110 St & Amsterdam Ave,40.802692,-73.962950,30256,Subscriber,1997,1,22

In [12]:
df1.rename(columns = {'tripduration':'Trip Duration',  'starttime':'Start Time', 
                       'stoptime':'Stop Time', 'gender':'Gender', "usertype":"User Type",
                      'bikeid':'Bike ID', 'birth year':'Birth Year', 'start station id':'Start Station ID',
                      'start station name':'Start Station Name' , 'start station latitude':'lat1',
                       'start station longitude':'lon1', 'end station id':'End Station ID', 
                      'end station name':'End Station Name', 'end station latitude':'lat2',
                      'end station longitude':'lon2'}, inplace = True)

/Users/g_wizz/opt/anaconda3/envs/PythonData1/lib/python3.6/site-packages/pandas/core/frame.py:4303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [13]:
df1['Gender'].replace([0,1,2],['unknown','male','female'],inplace=True)
df1.head()

/Users/g_wizz/opt/anaconda3/envs/PythonData1/lib/python3.6/site-packages/pandas/core/series.py:4569: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  method=method,

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,lat1,lon1,End Station ID,End Station Name,lat2,lon2,Bike ID,User Type,Birth Year,Gender,Age
0,14.950000,2019-07-01 00:00:00.1320,2019-07-01 00:14:58.0040,493.0,W 45 St & 6 Ave,40.756800,-73.982912,454.0,E 51 St & 1 Ave,40.754557,-73.965930,18340,Subscriber,1966,male,53
1,4.450000,2019-07-01 00:00:05.1780,2019-07-01 00:04:32.4500,3143.0,5 Ave & E 78 St,40.776321,-73.964274,3226.0,W 82 St & Central Park West,40.782750,-73.971370,21458,Customer,1996,male,23
2,36.683333,2019-07-01 00:00:05.2130,2019-07-01 00:36:46.7490,317.0,E 6 St & Avenue B,40.724537,-73.981854,3469.0,India St & West St,40.731814,-73.959950,39874,Subscriber,1986,male,33
3,27.666667,2019-07-01 00:00:08.6010,2019-07-01 00:27:48.8050,249.0,Harrison St & Hudson St,40.718710,-74.009001,369.0,Washington Pl & 6 Ave,40.732241,-74.000264,38865,Subscriber,1988,male,31
4,1.816667,2019-07-01 00:00:12.1580,2019-07-01 00:02:01.5670,3552.0,W 113 St & Broadway,40.805973,-73.964928,3538.0,W 110 St & Amsterdam Ave,40.802692,-73.962950,30256,Subscriber,1997,male,22

In [14]:
df1.drop(df1.loc[df1['Trip Duration']<5].index, inplace=True)
df1.head()

/Users/g_wizz/opt/anaconda3/envs/PythonData1/lib/python3.6/site-packages/pandas/core/frame.py:4169: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,lat1,lon1,End Station ID,End Station Name,lat2,lon2,Bike ID,User Type,Birth Year,Gender,Age
0,14.950000,2019-07-01 00:00:00.1320,2019-07-01 00:14:58.0040,493.0,W 45 St & 6 Ave,40.756800,-73.982912,454.0,E 51 St & 1 Ave,40.754557,-73.965930,18340,Subscriber,1966,male,53
2,36.683333,2019-07-01 00:00:05.2130,2019-07-01 00:36:46.7490,317.0,E 6 St & Avenue B,40.724537,-73.981854,3469.0,India St & West St,40.731814,-73.959950,39874,Subscriber,1986,male,33
3,27.666667,2019-07-01 00:00:08.6010,2019-07-01 00:27:48.8050,249.0,Harrison St & Hudson St,40.718710,-74.009001,369.0,Washington Pl & 6 Ave,40.732241,-74.000264,38865,Subscriber,1988,male,31
6,9.166667,2019-07-01 00:00:14.4940,2019-07-01 00:09:25.3970,3507.0,Park Ave & E 124 St,40.804555,-73.939686,3553.0,Frederick Douglass Blvd & W 112 St,40.801694,-73.957145,34139,Subscriber,1992,male,27
7,5.633333,2019-07-01 00:00:18.1350,2019-07-01 00:05:56.9780,478.0,11 Ave & W 41 St,40.760301,-73.998842,388.0,W 26 St & 10 Ave,40.749718,-74.002950,39703,Subscriber,1995,male,24

In [16]:
july_df = df1[(df1['Birth Year'] >= 1995) & (df1['Birth Year'] <= 2002)]
july_df.head()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,lat1,lon1,End Station ID,End Station Name,lat2,lon2,Bike ID,User Type,Birth Year,Gender,Age
7,5.633333,2019-07-01 00:00:18.1350,2019-07-01 00:05:56.9780,478.0,11 Ave & W 41 St,40.760301,-73.998842,388.0,W 26 St & 10 Ave,40.749718,-74.002950,39703,Subscriber,1995,male,24
23,9.150000,2019-07-01 00:01:41.9300,2019-07-01 00:10:51.2210,393.0,E 5 St & Avenue C,40.722992,-73.979955,332.0,Cherry St,40.712199,-73.979481,30266,Subscriber,2000,male,19
25,13.166667,2019-07-01 00:01:54.4520,2019-07-01 00:15:05.1380,317.0,E 6 St & Avenue B,40.724537,-73.981854,168.0,W 18 St & 6 Ave,40.739713,-73.994564,24899,Subscriber,2000,male,19
37,45.250000,2019-07-01 00:03:17.3860,2019-07-01 00:48:33.2120,303.0,Mercer St & Spring St,40.723627,-73.999496,3285.0,W 87 St & Amsterdam Ave,40.788390,-73.974700,18746,Subscriber,1997,male,22
40,26.466667,2019-07-01 00:03:34.9900,2019-07-01 00:30:03.8430,3746.0,6 Ave & Broome St,40.724308,-74.004730,116.0,W 17 St & 8 Ave,40.741776,-74.001497,35384,Customer,1997,unknown,22

In [17]:
def haversine_distance(lat1, lon1, lat2, lon2):
   r = 6371
   phi1 = np.radians(lat1)
   phi2 = np.radians(lat2)
   delta_phi = np.radians(lat2-lat1)
   delta_lambda = np.radians(lon2-lon1)
   a = np.sin(delta_phi / 2)**2 + np.cos(phi1) * np.cos(phi2) *   np.sin(delta_lambda / 2)**2
   res = r * (2 * np.arctan2(np.sqrt(a), np.sqrt(1-a)))
   return np.round(res, 2)

july_df['distance'] = haversine_distance(july_df['lon1'],july_df['lat1'],july_df['lon2'],july_df['lat2'])
july_df.head()

/Users/g_wizz/opt/anaconda3/envs/PythonData1/lib/python3.6/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,lat1,lon1,End Station ID,End Station Name,lat2,lon2,Bike ID,User Type,Birth Year,Gender,Age,distance
7,5.633333,2019-07-01 00:00:18.1350,2019-07-01 00:05:56.9780,478.0,11 Ave & W 41 St,40.760301,-73.998842,388.0,W 26 St & 10 Ave,40.749718,-74.002950,39703,Subscriber,1995,male,24,0.56
23,9.150000,2019-07-01 00:01:41.9300,2019-07-01 00:10:51.2210,393.0,E 5 St & Avenue C,40.722992,-73.979955,332.0,Cherry St,40.712199,-73.979481,30266,Subscriber,2000,male,19,0.34
25,13.166667,2019-07-01 00:01:54.4520,2019-07-01 00:15:05.1380,317.0,E 6 St & Avenue B,40.724537,-73.981854,168.0,W 18 St & 6 Ave,40.739713,-73.994564,24899,Subscriber,2000,male,19,1.49
37,45.250000,2019-07-01 00:03:17.3860,2019-07-01 00:48:33.2120,303.0,Mercer St & Spring St,40.723627,-73.999496,3285.0,W 87 St & Amsterdam Ave,40.788390,-73.974700,18746,Subscriber,1997,male,22,3.40
40,26.466667,2019-07-01 00:03:34.9900,2019-07-01 00:30:03.8430,3746.0,6 Ave & Broome St,40.724308,-74.004730,116.0,W 17 St & 8 Ave,40.741776,-74.001497,35384,Customer,1997,unknown,22,0.64

In [18]:
july_df.reset_index(drop=True, inplace=True)
july_df.head()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,lat1,lon1,End Station ID,End Station Name,lat2,lon2,Bike ID,User Type,Birth Year,Gender,Age,distance
0,5.633333,2019-07-01 00:00:18.1350,2019-07-01 00:05:56.9780,478.0,11 Ave & W 41 St,40.760301,-73.998842,388.0,W 26 St & 10 Ave,40.749718,-74.002950,39703,Subscriber,1995,male,24,0.56
1,9.150000,2019-07-01 00:01:41.9300,2019-07-01 00:10:51.2210,393.0,E 5 St & Avenue C,40.722992,-73.979955,332.0,Cherry St,40.712199,-73.979481,30266,Subscriber,2000,male,19,0.34
2,13.166667,2019-07-01 00:01:54.4520,2019-07-01 00:15:05.1380,317.0,E 6 St & Avenue B,40.724537,-73.981854,168.0,W 18 St & 6 Ave,40.739713,-73.994564,24899,Subscriber,2000,male,19,1.49
3,45.250000,2019-07-01 00:03:17.3860,2019-07-01 00:48:33.2120,303.0,Mercer St & Spring St,40.723627,-73.999496,3285.0,W 87 St & Amsterdam Ave,40.788390,-73.974700,18746,Subscriber,1997,male,22,3.40
4,26.466667,2019-07-01 00:03:34.9900,2019-07-01 00:30:03.8430,3746.0,6 Ave & Broome St,40.724308,-74.004730,116.0,W 17 St & 8 Ave,40.741776,-74.001497,35384,Customer,1997,unknown,22,0.64

In [19]:
july_df.to_csv("July_2019.csv")