In [1]:
import pandas as pd
from pandas import to_datetime
import numpy as np

In [2]:
df1 = pd.read_csv("June_19-citibike-tripdata.csv")
df1.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,330,2019-06-01 00:00:01.5000,2019-06-01 00:05:31.7600,3602,31 Ave & 34 St,40.763154,-73.920827,3570,35 Ave & 37 St,40.755733,-73.923661,20348,Subscriber,1992,1
1,830,2019-06-01 00:00:04.2400,2019-06-01 00:13:55.1470,3054,Greene Ave & Throop Ave,40.689493,-73.942061,3781,Greene Av & Myrtle Av,40.698568,-73.918877,34007,Subscriber,1987,2
2,380,2019-06-01 00:00:06.0190,2019-06-01 00:06:26.7790,229,Great Jones St,40.727434,-73.993790,326,E 11 St & 1 Ave,40.729538,-73.984267,20587,Subscriber,1990,2
3,1155,2019-06-01 00:00:06.7760,2019-06-01 00:19:22.5380,3771,McKibbin St & Bogart St,40.706237,-73.933871,3016,Kent Ave & N 7 St,40.720368,-73.961651,33762,Subscriber,1987,1
4,1055,2019-06-01 00:00:07.5200,2019-06-01 00:17:42.5580,441,E 52 St & 2 Ave,40.756014,-73.967416,3159,W 67 St & Broadway,40.774925,-73.982666,31290,Subscriber,1973,1

In [3]:
df1.count()

tripduration               2125370
starttime                  2125370
stoptime                   2125370
start station id           2125370
start station name         2125370
start station latitude     2125370
start station longitude    2125370
end station id             2125370
end station name           2125370
end station latitude       2125370
end station longitude      2125370
bikeid                     2125370
usertype                   2125370
birth year                 2125370
gender                     2125370
dtype: int64

In [4]:
df1.dropna(how='any', inplace=True)
df1.count()

tripduration               2125370
starttime                  2125370
stoptime                   2125370
start station id           2125370
start station name         2125370
start station latitude     2125370
start station longitude    2125370
end station id             2125370
end station name           2125370
end station latitude       2125370
end station longitude      2125370
bikeid                     2125370
usertype                   2125370
birth year                 2125370
gender                     2125370
dtype: int64

In [5]:
df1[pd.isnull(df1).any(axis=1)]

Empty DataFrame
Columns: [tripduration, starttime, stoptime, start station id, start station name, start station latitude, start station longitude, end station id, end station name, end station latitude, end station longitude, bikeid, usertype, birth year, gender]
Index: []

In [6]:
df1.dropna()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,330,2019-06-01 00:00:01.5000,2019-06-01 00:05:31.7600,3602,31 Ave & 34 St,40.763154,-73.920827,3570,35 Ave & 37 St,40.755733,-73.923661,20348,Subscriber,1992,1
1,830,2019-06-01 00:00:04.2400,2019-06-01 00:13:55.1470,3054,Greene Ave & Throop Ave,40.689493,-73.942061,3781,Greene Av & Myrtle Av,40.698568,-73.918877,34007,Subscriber,1987,2
2,380,2019-06-01 00:00:06.0190,2019-06-01 00:06:26.7790,229,Great Jones St,40.727434,-73.993790,326,E 11 St & 1 Ave,40.729538,-73.984267,20587,Subscriber,1990,2
3,1155,2019-06-01 00:00:06.7760,2019-06-01 00:19:22.5380,3771,McKibbin St & Bogart St,40.706237,-73.933871,3016,Kent Ave & N 7 St,40.720368,-73.961651,33762,Subscriber,1987,1
4,1055,2019-06-01 00:00:07.5200,2019-06-01 00:17:42.5580,441,E 52 St & 2 Ave,40.756014,-73.967416,3159,W 67 St & Broadway,40.774925,-73.982666,31290,Subscriber,1973,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2125365,232,2019-06-30 23:59:32.8920,2019-07-01 00:03:25.6310,3113,Greenpoint Ave & Manhattan Ave,40.730260,-73.953940,3107,Bedford Ave & Nassau Ave,40.723117,-73.952123,25779,Subscriber,1972,1
2125366,477,2019-06-30 23:59:33.6990,2019-07-01 00:07:31.0440,445,E 10 St & Avenue A,40.727408,-73.981420,3737,Stanton St & Norfolk St,40.720747,-73.986274,39522,Subscriber,1981,2
2125367,300,2019-06-30 23:59:47.4050,2019-07-01 00:04:48.1850,3307,West End Ave & W 94 St,40.794165,-73.974124,3320,Central Park West & W 100 St,40.794067,-73.962868,26730,Subscriber,1981,1
2125368,906,2019-06-30 23:59:51.5980,2019-07-01 00:14:58.3210,402,Broadway & E 22 St,40.740343,-73.989551,400,Pitt St & Stanton St,40.719261,-73.981780,38286,Subscriber,1996,1
2125369,1270,2019-06-30 23:59:54.3670,2019-07-01 00:21:05.2750,3788,E 12 St & 4 Av,40.732690,-73.989740,326,E 11 St & 1 Ave,40.729538,-73.984267,38742,Subscriber,1967,1

In [7]:
df1.drop_duplicates()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,330,2019-06-01 00:00:01.5000,2019-06-01 00:05:31.7600,3602,31 Ave & 34 St,40.763154,-73.920827,3570,35 Ave & 37 St,40.755733,-73.923661,20348,Subscriber,1992,1
1,830,2019-06-01 00:00:04.2400,2019-06-01 00:13:55.1470,3054,Greene Ave & Throop Ave,40.689493,-73.942061,3781,Greene Av & Myrtle Av,40.698568,-73.918877,34007,Subscriber,1987,2
2,380,2019-06-01 00:00:06.0190,2019-06-01 00:06:26.7790,229,Great Jones St,40.727434,-73.993790,326,E 11 St & 1 Ave,40.729538,-73.984267,20587,Subscriber,1990,2
3,1155,2019-06-01 00:00:06.7760,2019-06-01 00:19:22.5380,3771,McKibbin St & Bogart St,40.706237,-73.933871,3016,Kent Ave & N 7 St,40.720368,-73.961651,33762,Subscriber,1987,1
4,1055,2019-06-01 00:00:07.5200,2019-06-01 00:17:42.5580,441,E 52 St & 2 Ave,40.756014,-73.967416,3159,W 67 St & Broadway,40.774925,-73.982666,31290,Subscriber,1973,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2125365,232,2019-06-30 23:59:32.8920,2019-07-01 00:03:25.6310,3113,Greenpoint Ave & Manhattan Ave,40.730260,-73.953940,3107,Bedford Ave & Nassau Ave,40.723117,-73.952123,25779,Subscriber,1972,1
2125366,477,2019-06-30 23:59:33.6990,2019-07-01 00:07:31.0440,445,E 10 St & Avenue A,40.727408,-73.981420,3737,Stanton St & Norfolk St,40.720747,-73.986274,39522,Subscriber,1981,2
2125367,300,2019-06-30 23:59:47.4050,2019-07-01 00:04:48.1850,3307,West End Ave & W 94 St,40.794165,-73.974124,3320,Central Park West & W 100 St,40.794067,-73.962868,26730,Subscriber,1981,1
2125368,906,2019-06-30 23:59:51.5980,2019-07-01 00:14:58.3210,402,Broadway & E 22 St,40.740343,-73.989551,400,Pitt St & Stanton St,40.719261,-73.981780,38286,Subscriber,1996,1
2125369,1270,2019-06-30 23:59:54.3670,2019-07-01 00:21:05.2750,3788,E 12 St & 4 Av,40.732690,-73.989740,326,E 11 St & 1 Ave,40.729538,-73.984267,38742,Subscriber,1967,1

In [8]:
df1.columns

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [9]:
df1['Age'] = 2019 - df1['birth year']
df1

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,Age
0,330,2019-06-01 00:00:01.5000,2019-06-01 00:05:31.7600,3602,31 Ave & 34 St,40.763154,-73.920827,3570,35 Ave & 37 St,40.755733,-73.923661,20348,Subscriber,1992,1,27
1,830,2019-06-01 00:00:04.2400,2019-06-01 00:13:55.1470,3054,Greene Ave & Throop Ave,40.689493,-73.942061,3781,Greene Av & Myrtle Av,40.698568,-73.918877,34007,Subscriber,1987,2,32
2,380,2019-06-01 00:00:06.0190,2019-06-01 00:06:26.7790,229,Great Jones St,40.727434,-73.993790,326,E 11 St & 1 Ave,40.729538,-73.984267,20587,Subscriber,1990,2,29
3,1155,2019-06-01 00:00:06.7760,2019-06-01 00:19:22.5380,3771,McKibbin St & Bogart St,40.706237,-73.933871,3016,Kent Ave & N 7 St,40.720368,-73.961651,33762,Subscriber,1987,1,32
4,1055,2019-06-01 00:00:07.5200,2019-06-01 00:17:42.5580,441,E 52 St & 2 Ave,40.756014,-73.967416,3159,W 67 St & Broadway,40.774925,-73.982666,31290,Subscriber,1973,1,46
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2125365,232,2019-06-30 23:59:32.8920,2019-07-01 00:03:25.6310,3113,Greenpoint Ave & Manhattan Ave,40.730260,-73.953940,3107,Bedford Ave & Nassau Ave,40.723117,-73.952123,25779,Subscriber,1972,1,47
2125366,477,2019-06-30 23:59:33.6990,2019-07-01 00:07:31.0440,445,E 10 St & Avenue A,40.727408,-73.981420,3737,Stanton St & Norfolk St,40.720747,-73.986274,39522,Subscriber,1981,2,38
2125367,300,2019-06-30 23:59:47.4050,2019-07-01 00:04:48.1850,3307,West End Ave & W 94 St,40.794165,-73.974124,3320,Central Park West & W 100 St,40.794067,-73.962868,26730,Subscriber,1981,1,38
2125368,906,2019-06-30 23:59:51.5980,2019-07-01 00:14:58.3210,402,Broadway & E 22 St,40.740343,-73.989551,400,Pitt St & Stanton St,40.719261,-73.981780,38286,Subscriber,1996,1,23
2125369,1270,2019-06-30 23:59:54.3670,2019-07-01 00:21:05.2750,3788,E 12 St & 4 Av,40.732690,-73.989740,326,E 11 St & 1 Ave,40.729538,-73.984267,38742,Subscriber,1967,1,52

In [10]:
# Convert trip duration column from seconds to minutes
df1["tripduration"] = [trip/60 for trip in df1["tripduration"]]

# Filter out trips over 24 hours long
df1 = df1.loc[df1["tripduration"] < 1440, :]

df1.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,Age
0,5.500000,2019-06-01 00:00:01.5000,2019-06-01 00:05:31.7600,3602,31 Ave & 34 St,40.763154,-73.920827,3570,35 Ave & 37 St,40.755733,-73.923661,20348,Subscriber,1992,1,27
1,13.833333,2019-06-01 00:00:04.2400,2019-06-01 00:13:55.1470,3054,Greene Ave & Throop Ave,40.689493,-73.942061,3781,Greene Av & Myrtle Av,40.698568,-73.918877,34007,Subscriber,1987,2,32
2,6.333333,2019-06-01 00:00:06.0190,2019-06-01 00:06:26.7790,229,Great Jones St,40.727434,-73.993790,326,E 11 St & 1 Ave,40.729538,-73.984267,20587,Subscriber,1990,2,29
3,19.250000,2019-06-01 00:00:06.7760,2019-06-01 00:19:22.5380,3771,McKibbin St & Bogart St,40.706237,-73.933871,3016,Kent Ave & N 7 St,40.720368,-73.961651,33762,Subscriber,1987,1,32
4,17.583333,2019-06-01 00:00:07.5200,2019-06-01 00:17:42.5580,441,E 52 St & 2 Ave,40.756014,-73.967416,3159,W 67 St & Broadway,40.774925,-73.982666,31290,Subscriber,1973,1,46

In [11]:
df1.rename(columns = {'tripduration':'Trip Duration',  'starttime':'Start Time', 
                       'stoptime':'Stop Time', 'gender':'Gender', "usertype":"User Type",
                      'bikeid':'Bike ID', 'birth year':'Birth Year', 'start station id':'Start Station ID',
                      'start station name':'Start Station Name' , 'start station latitude':'lat1',
                       'start station longitude':'lon1', 'end station id':'End Station ID', 
                      'end station name':'End Station Name', 'end station latitude':'lat2',
                      'end station longitude':'lon2'}, inplace = True)

/Users/g_wizz/opt/anaconda3/envs/PythonData1/lib/python3.6/site-packages/pandas/core/frame.py:4303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [13]:
df1.head()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,lat1,lon1,End Station ID,End Station Name,lat2,lon2,Bike ID,User Type,Birth Year,Gender,Age
0,5.500000,2019-06-01 00:00:01.5000,2019-06-01 00:05:31.7600,3602,31 Ave & 34 St,40.763154,-73.920827,3570,35 Ave & 37 St,40.755733,-73.923661,20348,Subscriber,1992,1,27
1,13.833333,2019-06-01 00:00:04.2400,2019-06-01 00:13:55.1470,3054,Greene Ave & Throop Ave,40.689493,-73.942061,3781,Greene Av & Myrtle Av,40.698568,-73.918877,34007,Subscriber,1987,2,32
2,6.333333,2019-06-01 00:00:06.0190,2019-06-01 00:06:26.7790,229,Great Jones St,40.727434,-73.993790,326,E 11 St & 1 Ave,40.729538,-73.984267,20587,Subscriber,1990,2,29
3,19.250000,2019-06-01 00:00:06.7760,2019-06-01 00:19:22.5380,3771,McKibbin St & Bogart St,40.706237,-73.933871,3016,Kent Ave & N 7 St,40.720368,-73.961651,33762,Subscriber,1987,1,32
4,17.583333,2019-06-01 00:00:07.5200,2019-06-01 00:17:42.5580,441,E 52 St & 2 Ave,40.756014,-73.967416,3159,W 67 St & Broadway,40.774925,-73.982666,31290,Subscriber,1973,1,46

In [14]:
df1['Gender'].replace([0,1,2],['unknown','male','female'],inplace=True)
df1.head()

/Users/g_wizz/opt/anaconda3/envs/PythonData1/lib/python3.6/site-packages/pandas/core/series.py:4569: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  method=method,

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,lat1,lon1,End Station ID,End Station Name,lat2,lon2,Bike ID,User Type,Birth Year,Gender,Age
0,5.500000,2019-06-01 00:00:01.5000,2019-06-01 00:05:31.7600,3602,31 Ave & 34 St,40.763154,-73.920827,3570,35 Ave & 37 St,40.755733,-73.923661,20348,Subscriber,1992,male,27
1,13.833333,2019-06-01 00:00:04.2400,2019-06-01 00:13:55.1470,3054,Greene Ave & Throop Ave,40.689493,-73.942061,3781,Greene Av & Myrtle Av,40.698568,-73.918877,34007,Subscriber,1987,female,32
2,6.333333,2019-06-01 00:00:06.0190,2019-06-01 00:06:26.7790,229,Great Jones St,40.727434,-73.993790,326,E 11 St & 1 Ave,40.729538,-73.984267,20587,Subscriber,1990,female,29
3,19.250000,2019-06-01 00:00:06.7760,2019-06-01 00:19:22.5380,3771,McKibbin St & Bogart St,40.706237,-73.933871,3016,Kent Ave & N 7 St,40.720368,-73.961651,33762,Subscriber,1987,male,32
4,17.583333,2019-06-01 00:00:07.5200,2019-06-01 00:17:42.5580,441,E 52 St & 2 Ave,40.756014,-73.967416,3159,W 67 St & Broadway,40.774925,-73.982666,31290,Subscriber,1973,male,46

In [15]:
df1.drop(df1.loc[df1['Trip Duration']<5].index, inplace=True)
df1.head()

/Users/g_wizz/opt/anaconda3/envs/PythonData1/lib/python3.6/site-packages/pandas/core/frame.py:4169: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,lat1,lon1,End Station ID,End Station Name,lat2,lon2,Bike ID,User Type,Birth Year,Gender,Age
0,5.500000,2019-06-01 00:00:01.5000,2019-06-01 00:05:31.7600,3602,31 Ave & 34 St,40.763154,-73.920827,3570,35 Ave & 37 St,40.755733,-73.923661,20348,Subscriber,1992,male,27
1,13.833333,2019-06-01 00:00:04.2400,2019-06-01 00:13:55.1470,3054,Greene Ave & Throop Ave,40.689493,-73.942061,3781,Greene Av & Myrtle Av,40.698568,-73.918877,34007,Subscriber,1987,female,32
2,6.333333,2019-06-01 00:00:06.0190,2019-06-01 00:06:26.7790,229,Great Jones St,40.727434,-73.993790,326,E 11 St & 1 Ave,40.729538,-73.984267,20587,Subscriber,1990,female,29
3,19.250000,2019-06-01 00:00:06.7760,2019-06-01 00:19:22.5380,3771,McKibbin St & Bogart St,40.706237,-73.933871,3016,Kent Ave & N 7 St,40.720368,-73.961651,33762,Subscriber,1987,male,32
4,17.583333,2019-06-01 00:00:07.5200,2019-06-01 00:17:42.5580,441,E 52 St & 2 Ave,40.756014,-73.967416,3159,W 67 St & Broadway,40.774925,-73.982666,31290,Subscriber,1973,male,46

In [19]:
june_df = df1[(df1['Birth Year'] >= 1995) & (df1['Birth Year'] <= 2002)]
june_df.head()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,lat1,lon1,End Station ID,End Station Name,lat2,lon2,Bike ID,User Type,Birth Year,Gender,Age
6,5.250000,2019-06-01 00:00:09.1960,2019-06-01 00:05:24.8050,3129,Queens Plaza North & Crescent St,40.751102,-73.940737,3560,28 St & 38 Ave,40.754876,-73.934326,25648,Subscriber,1995,male,24
20,15.200000,2019-06-01 00:00:39.0670,2019-06-01 00:15:51.8470,229,Great Jones St,40.727434,-73.993790,295,Pike St & E Broadway,40.714067,-73.992939,27141,Subscriber,1995,male,24
24,14.650000,2019-06-01 00:00:49.6170,2019-06-01 00:15:29.3590,3046,Marcus Garvey Blvd & Macon St,40.682601,-73.938037,3549,Grand Ave & Bergen St,40.678045,-73.962408,26053,Subscriber,1997,male,22
32,9.766667,2019-06-01 00:01:03.7330,2019-06-01 00:10:50.1170,3288,E 88 St & 1 Ave,40.778301,-73.948813,3376,E 65 St & 2 Ave,40.764719,-73.962221,34194,Subscriber,1995,female,24
37,9.500000,2019-06-01 00:01:09.4740,2019-06-01 00:10:39.7600,3288,E 88 St & 1 Ave,40.778301,-73.948813,3376,E 65 St & 2 Ave,40.764719,-73.962221,34955,Subscriber,1995,male,24

In [20]:
def haversine_distance(lat1, lon1, lat2, lon2):
   r = 6371
   phi1 = np.radians(lat1)
   phi2 = np.radians(lat2)
   delta_phi = np.radians(lat2-lat1)
   delta_lambda = np.radians(lon2-lon1)
   a = np.sin(delta_phi / 2)**2 + np.cos(phi1) * np.cos(phi2) *   np.sin(delta_lambda / 2)**2
   res = r * (2 * np.arctan2(np.sqrt(a), np.sqrt(1-a)))
   return np.round(res, 2)

june_df['distance'] = haversine_distance(june_df['lon1'],june_df['lat1'],june_df['lon2'],june_df['lat2'])
june_df.head()

/Users/g_wizz/opt/anaconda3/envs/PythonData1/lib/python3.6/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,lat1,lon1,End Station ID,End Station Name,lat2,lon2,Bike ID,User Type,Birth Year,Gender,Age,distance
6,5.250000,2019-06-01 00:00:09.1960,2019-06-01 00:05:24.8050,3129,Queens Plaza North & Crescent St,40.751102,-73.940737,3560,28 St & 38 Ave,40.754876,-73.934326,25648,Subscriber,1995,male,24,0.72
20,15.200000,2019-06-01 00:00:39.0670,2019-06-01 00:15:51.8470,229,Great Jones St,40.727434,-73.993790,295,Pike St & E Broadway,40.714067,-73.992939,27141,Subscriber,1995,male,24,0.42
24,14.650000,2019-06-01 00:00:49.6170,2019-06-01 00:15:29.3590,3046,Marcus Garvey Blvd & Macon St,40.682601,-73.938037,3549,Grand Ave & Bergen St,40.678045,-73.962408,26053,Subscriber,1997,male,22,2.71
32,9.766667,2019-06-01 00:01:03.7330,2019-06-01 00:10:50.1170,3288,E 88 St & 1 Ave,40.778301,-73.948813,3376,E 65 St & 2 Ave,40.764719,-73.962221,34194,Subscriber,1995,female,24,1.55
37,9.500000,2019-06-01 00:01:09.4740,2019-06-01 00:10:39.7600,3288,E 88 St & 1 Ave,40.778301,-73.948813,3376,E 65 St & 2 Ave,40.764719,-73.962221,34955,Subscriber,1995,male,24,1.55

In [21]:
june_df.reset_index(drop=True, inplace=True)
june_df.head()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,lat1,lon1,End Station ID,End Station Name,lat2,lon2,Bike ID,User Type,Birth Year,Gender,Age,distance
0,5.250000,2019-06-01 00:00:09.1960,2019-06-01 00:05:24.8050,3129,Queens Plaza North & Crescent St,40.751102,-73.940737,3560,28 St & 38 Ave,40.754876,-73.934326,25648,Subscriber,1995,male,24,0.72
1,15.200000,2019-06-01 00:00:39.0670,2019-06-01 00:15:51.8470,229,Great Jones St,40.727434,-73.993790,295,Pike St & E Broadway,40.714067,-73.992939,27141,Subscriber,1995,male,24,0.42
2,14.650000,2019-06-01 00:00:49.6170,2019-06-01 00:15:29.3590,3046,Marcus Garvey Blvd & Macon St,40.682601,-73.938037,3549,Grand Ave & Bergen St,40.678045,-73.962408,26053,Subscriber,1997,male,22,2.71
3,9.766667,2019-06-01 00:01:03.7330,2019-06-01 00:10:50.1170,3288,E 88 St & 1 Ave,40.778301,-73.948813,3376,E 65 St & 2 Ave,40.764719,-73.962221,34194,Subscriber,1995,female,24,1.55
4,9.500000,2019-06-01 00:01:09.4740,2019-06-01 00:10:39.7600,3288,E 88 St & 1 Ave,40.778301,-73.948813,3376,E 65 St & 2 Ave,40.764719,-73.962221,34955,Subscriber,1995,male,24,1.55

In [22]:
june_df.to_csv("June_2019.csv")