In [1]:
import pandas as pd
from pandas import to_datetime
import numpy as np

In [2]:
df1 = pd.read_csv("May_19-citibike-tripdata.csv")
df1.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,139,2019-05-01 00:00:01.9010,2019-05-01 00:02:21.5170,447,8 Ave & W 52 St,40.763707,-73.985162,423,W 54 St & 9 Ave,40.765849,-73.986905,31170,Subscriber,1983,1
1,754,2019-05-01 00:00:03.0210,2019-05-01 00:12:37.6920,3258,W 27 St & 10 Ave,40.750182,-74.002184,3255,8 Ave & W 31 St,40.750585,-73.994685,25560,Customer,1969,0
2,2308,2019-05-01 00:00:04.6270,2019-05-01 00:38:33.1710,3093,N 6 St & Bedford Ave,40.717452,-73.958509,3676,Van Brunt St & Van Dyke St,40.675833,-74.014726,33369,Subscriber,1978,1
3,143,2019-05-01 00:00:19.3340,2019-05-01 00:02:42.5200,3486,Schermerhorn St & Bond St,40.688417,-73.984517,3412,Pacific St & Nevins St,40.685376,-73.983021,32041,Subscriber,1997,1
4,138,2019-05-01 00:00:22.1840,2019-05-01 00:02:40.6480,388,W 26 St & 10 Ave,40.749718,-74.002950,494,W 26 St & 8 Ave,40.747348,-73.997236,35237,Subscriber,1967,1

In [3]:
df1.count()

tripduration               1924563
starttime                  1924563
stoptime                   1924563
start station id           1924563
start station name         1924563
start station latitude     1924563
start station longitude    1924563
end station id             1924563
end station name           1924563
end station latitude       1924563
end station longitude      1924563
bikeid                     1924563
usertype                   1924563
birth year                 1924563
gender                     1924563
dtype: int64

In [4]:
df1.dropna(how='any', inplace=True)
df1.count()

tripduration               1924563
starttime                  1924563
stoptime                   1924563
start station id           1924563
start station name         1924563
start station latitude     1924563
start station longitude    1924563
end station id             1924563
end station name           1924563
end station latitude       1924563
end station longitude      1924563
bikeid                     1924563
usertype                   1924563
birth year                 1924563
gender                     1924563
dtype: int64

In [5]:
df1[pd.isnull(df1).any(axis=1)]

Empty DataFrame
Columns: [tripduration, starttime, stoptime, start station id, start station name, start station latitude, start station longitude, end station id, end station name, end station latitude, end station longitude, bikeid, usertype, birth year, gender]
Index: []

In [6]:
df1.dropna()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,139,2019-05-01 00:00:01.9010,2019-05-01 00:02:21.5170,447,8 Ave & W 52 St,40.763707,-73.985162,423,W 54 St & 9 Ave,40.765849,-73.986905,31170,Subscriber,1983,1
1,754,2019-05-01 00:00:03.0210,2019-05-01 00:12:37.6920,3258,W 27 St & 10 Ave,40.750182,-74.002184,3255,8 Ave & W 31 St,40.750585,-73.994685,25560,Customer,1969,0
2,2308,2019-05-01 00:00:04.6270,2019-05-01 00:38:33.1710,3093,N 6 St & Bedford Ave,40.717452,-73.958509,3676,Van Brunt St & Van Dyke St,40.675833,-74.014726,33369,Subscriber,1978,1
3,143,2019-05-01 00:00:19.3340,2019-05-01 00:02:42.5200,3486,Schermerhorn St & Bond St,40.688417,-73.984517,3412,Pacific St & Nevins St,40.685376,-73.983021,32041,Subscriber,1997,1
4,138,2019-05-01 00:00:22.1840,2019-05-01 00:02:40.6480,388,W 26 St & 10 Ave,40.749718,-74.002950,494,W 26 St & 8 Ave,40.747348,-73.997236,35237,Subscriber,1967,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1924558,304,2019-05-31 23:59:45.5760,2019-06-01 00:04:50.4620,3175,W 70 St & Amsterdam Ave,40.777480,-73.982886,423,W 54 St & 9 Ave,40.765849,-73.986905,32285,Subscriber,1987,2
1924559,324,2019-05-31 23:59:46.4650,2019-06-01 00:05:11.1630,2003,1 Ave & E 18 St,40.733812,-73.980544,536,1 Ave & E 30 St,40.741444,-73.975361,33874,Subscriber,1994,2
1924560,1926,2019-05-31 23:59:51.5060,2019-06-01 00:31:58.3920,146,Hudson St & Reade St,40.716250,-74.009106,422,W 59 St & 10 Ave,40.770513,-73.988038,33395,Subscriber,1985,1
1924561,2047,2019-05-31 23:59:52.4170,2019-06-01 00:34:00.1970,3658,W 18 St & 9 Ave,40.743534,-74.003676,2008,Little West St & 1 Pl,40.705693,-74.016777,27624,Subscriber,1987,0
1924562,964,2019-05-31 23:59:55.5500,2019-06-01 00:15:59.8680,285,Broadway & E 14 St,40.734546,-73.990741,3656,E 2 St & Avenue A,40.723077,-73.985836,32565,Subscriber,1992,2

In [7]:
df1.isnull().any()

tripduration               False
starttime                  False
stoptime                   False
start station id           False
start station name         False
start station latitude     False
start station longitude    False
end station id             False
end station name           False
end station latitude       False
end station longitude      False
bikeid                     False
usertype                   False
birth year                 False
gender                     False
dtype: bool

In [8]:
df1.drop_duplicates()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,139,2019-05-01 00:00:01.9010,2019-05-01 00:02:21.5170,447,8 Ave & W 52 St,40.763707,-73.985162,423,W 54 St & 9 Ave,40.765849,-73.986905,31170,Subscriber,1983,1
1,754,2019-05-01 00:00:03.0210,2019-05-01 00:12:37.6920,3258,W 27 St & 10 Ave,40.750182,-74.002184,3255,8 Ave & W 31 St,40.750585,-73.994685,25560,Customer,1969,0
2,2308,2019-05-01 00:00:04.6270,2019-05-01 00:38:33.1710,3093,N 6 St & Bedford Ave,40.717452,-73.958509,3676,Van Brunt St & Van Dyke St,40.675833,-74.014726,33369,Subscriber,1978,1
3,143,2019-05-01 00:00:19.3340,2019-05-01 00:02:42.5200,3486,Schermerhorn St & Bond St,40.688417,-73.984517,3412,Pacific St & Nevins St,40.685376,-73.983021,32041,Subscriber,1997,1
4,138,2019-05-01 00:00:22.1840,2019-05-01 00:02:40.6480,388,W 26 St & 10 Ave,40.749718,-74.002950,494,W 26 St & 8 Ave,40.747348,-73.997236,35237,Subscriber,1967,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1924558,304,2019-05-31 23:59:45.5760,2019-06-01 00:04:50.4620,3175,W 70 St & Amsterdam Ave,40.777480,-73.982886,423,W 54 St & 9 Ave,40.765849,-73.986905,32285,Subscriber,1987,2
1924559,324,2019-05-31 23:59:46.4650,2019-06-01 00:05:11.1630,2003,1 Ave & E 18 St,40.733812,-73.980544,536,1 Ave & E 30 St,40.741444,-73.975361,33874,Subscriber,1994,2
1924560,1926,2019-05-31 23:59:51.5060,2019-06-01 00:31:58.3920,146,Hudson St & Reade St,40.716250,-74.009106,422,W 59 St & 10 Ave,40.770513,-73.988038,33395,Subscriber,1985,1
1924561,2047,2019-05-31 23:59:52.4170,2019-06-01 00:34:00.1970,3658,W 18 St & 9 Ave,40.743534,-74.003676,2008,Little West St & 1 Pl,40.705693,-74.016777,27624,Subscriber,1987,0
1924562,964,2019-05-31 23:59:55.5500,2019-06-01 00:15:59.8680,285,Broadway & E 14 St,40.734546,-73.990741,3656,E 2 St & Avenue A,40.723077,-73.985836,32565,Subscriber,1992,2

In [9]:
df1.columns

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [11]:
df1['Age'] = 2019 - df1['birth year']
df1

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,Age
0,139,2019-05-01 00:00:01.9010,2019-05-01 00:02:21.5170,447,8 Ave & W 52 St,40.763707,-73.985162,423,W 54 St & 9 Ave,40.765849,-73.986905,31170,Subscriber,1983,male,36
1,754,2019-05-01 00:00:03.0210,2019-05-01 00:12:37.6920,3258,W 27 St & 10 Ave,40.750182,-74.002184,3255,8 Ave & W 31 St,40.750585,-73.994685,25560,Customer,1969,unknown,50
2,2308,2019-05-01 00:00:04.6270,2019-05-01 00:38:33.1710,3093,N 6 St & Bedford Ave,40.717452,-73.958509,3676,Van Brunt St & Van Dyke St,40.675833,-74.014726,33369,Subscriber,1978,male,41
3,143,2019-05-01 00:00:19.3340,2019-05-01 00:02:42.5200,3486,Schermerhorn St & Bond St,40.688417,-73.984517,3412,Pacific St & Nevins St,40.685376,-73.983021,32041,Subscriber,1997,male,22
4,138,2019-05-01 00:00:22.1840,2019-05-01 00:02:40.6480,388,W 26 St & 10 Ave,40.749718,-74.002950,494,W 26 St & 8 Ave,40.747348,-73.997236,35237,Subscriber,1967,male,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1924558,304,2019-05-31 23:59:45.5760,2019-06-01 00:04:50.4620,3175,W 70 St & Amsterdam Ave,40.777480,-73.982886,423,W 54 St & 9 Ave,40.765849,-73.986905,32285,Subscriber,1987,female,32
1924559,324,2019-05-31 23:59:46.4650,2019-06-01 00:05:11.1630,2003,1 Ave & E 18 St,40.733812,-73.980544,536,1 Ave & E 30 St,40.741444,-73.975361,33874,Subscriber,1994,female,25
1924560,1926,2019-05-31 23:59:51.5060,2019-06-01 00:31:58.3920,146,Hudson St & Reade St,40.716250,-74.009106,422,W 59 St & 10 Ave,40.770513,-73.988038,33395,Subscriber,1985,male,34
1924561,2047,2019-05-31 23:59:52.4170,2019-06-01 00:34:00.1970,3658,W 18 St & 9 Ave,40.743534,-74.003676,2008,Little West St & 1 Pl,40.705693,-74.016777,27624,Subscriber,1987,unknown,32
1924562,964,2019-05-31 23:59:55.5500,2019-06-01 00:15:59.8680,285,Broadway & E 14 St,40.734546,-73.990741,3656,E 2 St & Avenue A,40.723077,-73.985836,32565,Subscriber,1992,female,27

In [12]:
# Convert trip duration column from seconds to minutes
df1["tripduration"] = [trip/60 for trip in df1["tripduration"]]

# Filter out trips over 24 hours long
df1 = df1.loc[df1["tripduration"] < 1440, :]

# Rename trip duration column
#df1a.rename(columns={"Trip Duration":"Trip Duration (min)"})

df1.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,Age
0,2.316667,2019-05-01 00:00:01.9010,2019-05-01 00:02:21.5170,447,8 Ave & W 52 St,40.763707,-73.985162,423,W 54 St & 9 Ave,40.765849,-73.986905,31170,Subscriber,1983,male,36
1,12.566667,2019-05-01 00:00:03.0210,2019-05-01 00:12:37.6920,3258,W 27 St & 10 Ave,40.750182,-74.002184,3255,8 Ave & W 31 St,40.750585,-73.994685,25560,Customer,1969,unknown,50
2,38.466667,2019-05-01 00:00:04.6270,2019-05-01 00:38:33.1710,3093,N 6 St & Bedford Ave,40.717452,-73.958509,3676,Van Brunt St & Van Dyke St,40.675833,-74.014726,33369,Subscriber,1978,male,41
3,2.383333,2019-05-01 00:00:19.3340,2019-05-01 00:02:42.5200,3486,Schermerhorn St & Bond St,40.688417,-73.984517,3412,Pacific St & Nevins St,40.685376,-73.983021,32041,Subscriber,1997,male,22
4,2.300000,2019-05-01 00:00:22.1840,2019-05-01 00:02:40.6480,388,W 26 St & 10 Ave,40.749718,-74.002950,494,W 26 St & 8 Ave,40.747348,-73.997236,35237,Subscriber,1967,male,52

In [13]:
df1.rename(columns = {'tripduration':'Trip Duration',  'starttime':'Start Time', 
                       'stoptime':'Stop Time', 'gender':'Gender', "usertype":"User Type",
                      'bikeid':'Bike ID', 'birth year':'Birth Year', 'start station id':'Start Station ID',
                      'start station name':'Start Station Name' , 'start station latitude':'lat1',
                       'start station longitude':'lon1', 'end station id':'End Station ID', 
                      'end station name':'End Station Name', 'end station latitude':'lat2',
                      'end station longitude':'lon2'}, inplace = True)

/Users/g_wizz/opt/anaconda3/envs/PythonData1/lib/python3.6/site-packages/pandas/core/frame.py:4303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [17]:
df1['Gender'].replace([0,1,2],['unknown','male','female'],inplace=True)
df1.head()

/Users/g_wizz/opt/anaconda3/envs/PythonData1/lib/python3.6/site-packages/pandas/core/series.py:4569: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  method=method,

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,lat1,lon1,End Station ID,End Station Name,lat2,lon2,Bike ID,User Type,Birth Year,Gender,Age
1,12.566667,2019-05-01 00:00:03.0210,2019-05-01 00:12:37.6920,3258,W 27 St & 10 Ave,40.750182,-74.002184,3255,8 Ave & W 31 St,40.750585,-73.994685,25560,Customer,1969,unknown,50
2,38.466667,2019-05-01 00:00:04.6270,2019-05-01 00:38:33.1710,3093,N 6 St & Bedford Ave,40.717452,-73.958509,3676,Van Brunt St & Van Dyke St,40.675833,-74.014726,33369,Subscriber,1978,male,41
5,26.633333,2019-05-01 00:00:47.5650,2019-05-01 00:27:26.4150,310,State St & Smith St,40.689269,-73.989129,3322,12 St & 4 Ave,40.668603,-73.990439,16614,Customer,1973,male,46
6,8.566667,2019-05-01 00:01:06.0520,2019-05-01 00:09:40.1670,439,E 4 St & 2 Ave,40.726281,-73.989780,336,Sullivan St & Washington Sq,40.730477,-73.999061,15160,Subscriber,1988,male,31
7,8.733333,2019-05-01 00:01:21.0070,2019-05-01 00:10:05.9440,380,W 4 St & 7 Ave S,40.734011,-74.002939,439,E 4 St & 2 Ave,40.726281,-73.989780,16742,Subscriber,1964,male,55

In [14]:
df1

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,lat1,lon1,End Station ID,End Station Name,lat2,lon2,Bike ID,User Type,Birth Year,Gender,Age
0,2.316667,2019-05-01 00:00:01.9010,2019-05-01 00:02:21.5170,447,8 Ave & W 52 St,40.763707,-73.985162,423,W 54 St & 9 Ave,40.765849,-73.986905,31170,Subscriber,1983,male,36
1,12.566667,2019-05-01 00:00:03.0210,2019-05-01 00:12:37.6920,3258,W 27 St & 10 Ave,40.750182,-74.002184,3255,8 Ave & W 31 St,40.750585,-73.994685,25560,Customer,1969,unknown,50
2,38.466667,2019-05-01 00:00:04.6270,2019-05-01 00:38:33.1710,3093,N 6 St & Bedford Ave,40.717452,-73.958509,3676,Van Brunt St & Van Dyke St,40.675833,-74.014726,33369,Subscriber,1978,male,41
3,2.383333,2019-05-01 00:00:19.3340,2019-05-01 00:02:42.5200,3486,Schermerhorn St & Bond St,40.688417,-73.984517,3412,Pacific St & Nevins St,40.685376,-73.983021,32041,Subscriber,1997,male,22
4,2.300000,2019-05-01 00:00:22.1840,2019-05-01 00:02:40.6480,388,W 26 St & 10 Ave,40.749718,-74.002950,494,W 26 St & 8 Ave,40.747348,-73.997236,35237,Subscriber,1967,male,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1924558,5.066667,2019-05-31 23:59:45.5760,2019-06-01 00:04:50.4620,3175,W 70 St & Amsterdam Ave,40.777480,-73.982886,423,W 54 St & 9 Ave,40.765849,-73.986905,32285,Subscriber,1987,female,32
1924559,5.400000,2019-05-31 23:59:46.4650,2019-06-01 00:05:11.1630,2003,1 Ave & E 18 St,40.733812,-73.980544,536,1 Ave & E 30 St,40.741444,-73.975361,33874,Subscriber,1994,female,25
1924560,32.100000,2019-05-31 23:59:51.5060,2019-06-01 00:31:58.3920,146,Hudson St & Reade St,40.716250,-74.009106,422,W 59 St & 10 Ave,40.770513,-73.988038,33395,Subscriber,1985,male,34
1924561,34.116667,2019-05-31 23:59:52.4170,2019-06-01 00:34:00.1970,3658,W 18 St & 9 Ave,40.743534,-74.003676,2008,Little West St & 1 Pl,40.705693,-74.016777,27624,Subscriber,1987,unknown,32
1924562,16.066667,2019-05-31 23:59:55.5500,2019-06-01 00:15:59.8680,285,Broadway & E 14 St,40.734546,-73.990741,3656,E 2 St & Avenue A,40.723077,-73.985836,32565,Subscriber,1992,female,27

In [15]:
df1.drop(df1.loc[df1['Trip Duration']<5].index, inplace=True)
df1.head()

/Users/g_wizz/opt/anaconda3/envs/PythonData1/lib/python3.6/site-packages/pandas/core/frame.py:4169: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,lat1,lon1,End Station ID,End Station Name,lat2,lon2,Bike ID,User Type,Birth Year,Gender,Age
1,12.566667,2019-05-01 00:00:03.0210,2019-05-01 00:12:37.6920,3258,W 27 St & 10 Ave,40.750182,-74.002184,3255,8 Ave & W 31 St,40.750585,-73.994685,25560,Customer,1969,unknown,50
2,38.466667,2019-05-01 00:00:04.6270,2019-05-01 00:38:33.1710,3093,N 6 St & Bedford Ave,40.717452,-73.958509,3676,Van Brunt St & Van Dyke St,40.675833,-74.014726,33369,Subscriber,1978,male,41
5,26.633333,2019-05-01 00:00:47.5650,2019-05-01 00:27:26.4150,310,State St & Smith St,40.689269,-73.989129,3322,12 St & 4 Ave,40.668603,-73.990439,16614,Customer,1973,male,46
6,8.566667,2019-05-01 00:01:06.0520,2019-05-01 00:09:40.1670,439,E 4 St & 2 Ave,40.726281,-73.989780,336,Sullivan St & Washington Sq,40.730477,-73.999061,15160,Subscriber,1988,male,31
7,8.733333,2019-05-01 00:01:21.0070,2019-05-01 00:10:05.9440,380,W 4 St & 7 Ave S,40.734011,-74.002939,439,E 4 St & 2 Ave,40.726281,-73.989780,16742,Subscriber,1964,male,55

In [19]:


 may_df = df1[(df1['Birth Year'] >= 1995) & (df1['Birth Year'] <= 2002)]
may_df.head()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,lat1,lon1,End Station ID,End Station Name,lat2,lon2,Bike ID,User Type,Birth Year,Gender,Age
13,11.950000,2019-05-01 00:01:52.1570,2019-05-01 00:13:49.8700,237,E 11 St & 2 Ave,40.730473,-73.986724,432,E 7 St & Avenue A,40.726218,-73.983799,28640,Subscriber,1995,male,24
15,6.633333,2019-05-01 00:01:58.5500,2019-05-01 00:08:37.2140,238,Bank St & Washington St,40.736197,-74.008592,453,W 22 St & 8 Ave,40.744751,-73.999154,32645,Subscriber,1995,male,24
32,9.266667,2019-05-01 00:03:31.3330,2019-05-01 00:12:47.3680,486,Broadway & W 29 St,40.746201,-73.988557,504,1 Ave & E 16 St,40.732219,-73.981656,26057,Subscriber,1995,male,24
38,8.166667,2019-05-01 00:05:00.5850,2019-05-01 00:13:10.7170,369,Washington Pl & 6 Ave,40.732241,-74.000264,325,E 19 St & 3 Ave,40.736245,-73.984738,20171,Subscriber,1995,male,24
40,18.833333,2019-05-01 00:05:03.9860,2019-05-01 00:23:54.8150,3042,Fulton St & Utica Ave,40.679427,-73.929891,532,S 5 Pl & S 5 St,40.710451,-73.960876,21281,Subscriber,1997,male,22

In [20]:
def haversine_distance(lat1, lon1, lat2, lon2):
   r = 6371
   phi1 = np.radians(lat1)
   phi2 = np.radians(lat2)
   delta_phi = np.radians(lat2-lat1)
   delta_lambda = np.radians(lon2-lon1)
   a = np.sin(delta_phi / 2)**2 + np.cos(phi1) * np.cos(phi2) *   np.sin(delta_lambda / 2)**2
   res = r * (2 * np.arctan2(np.sqrt(a), np.sqrt(1-a)))
   return np.round(res, 2)

may_df['distance'] = haversine_distance(may_df['lon1'],may_df['lat1'],may_df['lon2'],may_df['lat2'])
may_df.head()

/Users/g_wizz/opt/anaconda3/envs/PythonData1/lib/python3.6/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,lat1,lon1,End Station ID,End Station Name,lat2,lon2,Bike ID,User Type,Birth Year,Gender,Age,distance
13,11.950000,2019-05-01 00:01:52.1570,2019-05-01 00:13:49.8700,237,E 11 St & 2 Ave,40.730473,-73.986724,432,E 7 St & Avenue A,40.726218,-73.983799,28640,Subscriber,1995,male,24,0.35
15,6.633333,2019-05-01 00:01:58.5500,2019-05-01 00:08:37.2140,238,Bank St & Washington St,40.736197,-74.008592,453,W 22 St & 8 Ave,40.744751,-73.999154,32645,Subscriber,1995,male,24,1.08
32,9.266667,2019-05-01 00:03:31.3330,2019-05-01 00:12:47.3680,486,Broadway & W 29 St,40.746201,-73.988557,504,1 Ave & E 16 St,40.732219,-73.981656,26057,Subscriber,1995,male,24,0.88
38,8.166667,2019-05-01 00:05:00.5850,2019-05-01 00:13:10.7170,369,Washington Pl & 6 Ave,40.732241,-74.000264,325,E 19 St & 3 Ave,40.736245,-73.984738,20171,Subscriber,1995,male,24,1.73
40,18.833333,2019-05-01 00:05:03.9860,2019-05-01 00:23:54.8150,3042,Fulton St & Utica Ave,40.679427,-73.929891,532,S 5 Pl & S 5 St,40.710451,-73.960876,21281,Subscriber,1997,male,22,3.58

In [21]:
may_df.reset_index(drop=True, inplace=True)
may_df.head()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,lat1,lon1,End Station ID,End Station Name,lat2,lon2,Bike ID,User Type,Birth Year,Gender,Age,distance
0,11.950000,2019-05-01 00:01:52.1570,2019-05-01 00:13:49.8700,237,E 11 St & 2 Ave,40.730473,-73.986724,432,E 7 St & Avenue A,40.726218,-73.983799,28640,Subscriber,1995,male,24,0.35
1,6.633333,2019-05-01 00:01:58.5500,2019-05-01 00:08:37.2140,238,Bank St & Washington St,40.736197,-74.008592,453,W 22 St & 8 Ave,40.744751,-73.999154,32645,Subscriber,1995,male,24,1.08
2,9.266667,2019-05-01 00:03:31.3330,2019-05-01 00:12:47.3680,486,Broadway & W 29 St,40.746201,-73.988557,504,1 Ave & E 16 St,40.732219,-73.981656,26057,Subscriber,1995,male,24,0.88
3,8.166667,2019-05-01 00:05:00.5850,2019-05-01 00:13:10.7170,369,Washington Pl & 6 Ave,40.732241,-74.000264,325,E 19 St & 3 Ave,40.736245,-73.984738,20171,Subscriber,1995,male,24,1.73
4,18.833333,2019-05-01 00:05:03.9860,2019-05-01 00:23:54.8150,3042,Fulton St & Utica Ave,40.679427,-73.929891,532,S 5 Pl & S 5 St,40.710451,-73.960876,21281,Subscriber,1997,male,22,3.58

In [22]:
may_df.to_csv("May_2019.csv")